{% extends 'base_materialize.html.twig' %}

{% form_theme form 'form/form_theme_materialize.html.twig' %}

{% block content_for_layout %}
    <div class="container w240">

        {% if mail_error %}
            <p class="alert">
                Erreur...
            </p>
        {% endif %}

        {{ form_start(form) -}}

            {{- form_row(form.name) -}}
            {{- form_row(form.email) -}}
            {{- form_row(form.message) -}}

            <button class="btn" type="submit">{{ 'form.send'|trans({}, 'contact') }}</button>

        {{- form_end(form) }}
    </div>
{% endblock %}
