{% extends 'base_materialize.html.twig' %}

{% trans_default_domain 'EsterenPortal' %}

{% block menu_right_content %}
    <li><a href="http://agate-rpg.blogspot.fr/">{{ 'menu.main.agate_studio' | trans }}</a></li>
    {{ parent() }}
{% endblock %}

{% block menu_right_mobile_content %}
    <li><a href="http://agate-rpg.blogspot.fr/">{{ 'menu.main.agate_studio' | trans }}</a></li>
    {{ parent() }}
{% endblock %}

{% block footer_about %}
    <h2>{{ 'footer.about'|trans({}, 'messages') }}</h2>
    <p>{{ 'footer.about_text'|trans|raw }}</p>
{% endblock %}

{% block footer_links_content %}
    <li><a href="{{ 'footer.esteren_blog_link'|trans }}">{{ 'footer.esteren_blog'|trans }}</a></li>
    {{ parent() }}
{% endblock %}

{% block footer_social_networks_content %}
    <li><a href="{{ facebook_url }}">Facebook</a></li>
    <li><a href="https://www.instagram.com/esteren_official/">Instagram</a></li>
    <li><a href="https://twitter.com/esterenofficiel">Twitter</a></li>
{% endblock %}
