{% extends "PierstovalAdminBundle:Admin:layout.html.twig" %}
{% import "EsterenPagesBundle:Menus:tree-macro.html.twig" as macros %}

{% block title %}{{ 'Menus' | trans }} - {{ parent() }}{% endblock %}

{% block admin_content %}

{% if is_granted('ROLE_ADMIN_MANAGE_SITE_SUPER') %}
    <div class="navbar navbar-inverse">
        <div class="">
            <ul class="nav navbar-nav">
                <li><a href="{{ url('esteren_pages_menus_add') }}">
                    <span class="glyphicon icon-plus"></span>
                    {{ 'Ajouter un nouveau lien / menu' | trans }}
                </a></li>
            </ul>
        </div>
    </div>
{% endif %}

<table class="table table-condensed">
    <tr>
        <th>#</th>
        <th>{{ 'Lien' | trans }}</th>
        <th>{{ 'Route' | trans }}</th>
        <th>{{ 'Position' | trans }}</th>
        <th class="w150">{{ 'Actions' | trans }}</th>
    </tr>
    {{ macros.tree(menus) }}
</table>

{% endblock %}