{% macro tree(elements, level = 0) %}

    {% for menu in elements %}

        {# Affiche la ligne du menu courant #}
        {{ _self.showTr(menu) }}

        {# Affiche les enfants si besoin #}
        {% if menu.children %}
            {{ _self.tree(menu.children, level + 1) }}
            {% if level > 0 %}
                <tr>
                    <td colspan="5">&nbsp;</td>
                </tr>
            {% endif %}
        {% endif %}
    {% else %}
        <tr><td colspan="9">{{ 'Aucun élément' | trans }}</td></tr>
    {% endfor %}

{% endmacro %}


{% macro showTr(menu) %}
    <tr>
        <td>{{ menu.id }}</td>
        <td>
            <span class="small">
                <small>
                {% for i in 10..0 %}
                    {% if menu.parentByLevel(i) %}
                        {{ menu.parentByLevel(i).name }} &raquo;
                    {% endif %}
                {% endfor %}
                </small>
            </span>
            <strong>{{ menu.name }}</strong>
        </td>
        <td><small>{{ menu.route }}</small></td>
        <td>{{ menu.position > 0 ? menu.position : ' - ' }}</td>
        <td>
            {% if is_granted('ROLE_ADMIN_MANAGE_SITE') %}
                <a href="{{ url('esteren_pages_menus_edit', {'id':menu.id}) }}" class="btn btn-sm btn-inverse">{{ 'Éditer' | trans }}</a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN_MANAGE_SITE_SUPER') %}
                <a href="{{ url('esteren_pages_menus_delete', {'id':menu.id}) }}" class="btn btn-sm btn-danger">{{ 'Supprimer' | trans }}</a>
            {% endif %}
        </td>
    </tr>
{% endmacro %}