{% extends "PierstovalAdminBundle:Admin:layout.html.twig" %}

{% block title %}{{ 'Index de la traduction' | trans }} - {{ parent() }}{% endblock %}

{% block admin_content %}
    <ol class="breadcrumb">
    <li><a href="{{ url('pierstoval_admin_admin_index') }}">{{ 'Accueil' | trans }}</a></li>
    <li><a href="{{ url('pierstoval_translation_translate_adminlist') }}">{{ 'Traductions' | trans }}</a></li>
    </ol>
    {% include 'PierstovalTranslationBundle:Translate:override.adminlist.html.twig' %}
{% endblock %}