{% trans_default_domain 'FOSUserBundle' %}

<ol class="breadcrumb">
    <li><a href="{{ url('corahnrin_admin_admin_index') }}">{{ 'Accueil' | trans }}</a></li>
    <li>{{ 'Modifier le profil' | trans }}</li>
</ol>

<h1>{{ 'Modifier le profil' | trans }}</h1>

<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-default" type="submit" value="{{ 'profile.edit.submit' | trans }}" />
    </div>
</form>
