{% extends "PierstovalAdminBundle:Admin:layout.html.twig" %}

{% block title %}{{ 'Artefacts' | trans }} - {{ parent() }}{% endblock %}

{% block admin_content %}

<ol class="breadcrumb">
    <li><a href="{{ url('pierstoval_admin_admin_index') }}">{{ 'Accueil' | trans }}</a></li>
    <li><a href="{{ url('corahnrin_characters_artifacts_adminlist') }}">{{ 'Artefacts' | trans }}</a></li>
</ol>

<h1>{{ 'Artefacts' | trans }}</h1>

{% if is_granted('ROLE_ADMIN_GENERATOR_SUPER') %}
    <div class="navbar navbar-inverse">
        <div class="">
            <ul class="nav navbar-nav">
                <li><a href="{{ url('corahnrin_characters_artifacts_add') }}">
                    <span class="glyphicon icon-plus"></span>
                    {{ 'Ajouter un artefact' | trans }}
                </a></li>
            </ul>
        </div>
    </div>
{% endif %}

<table class="table table-condensed">
    <tr>
        <th>#</th>
        <th>{{ 'Nom' | trans }}</th>
        <th>{{ 'Description' | trans }}</th>
        <th>{{ 'Prix' | trans }}</th>
        <th>{{ 'Flux' | trans }}</th>
        <th>{{ 'Actions' | trans }}</th>
    </tr>
    {% for artifact in artifacts %}
    <tr>
        <td>{{ artifact.id }}</td>
        <td class="w150"><strong>{{ artifact.name }}</strong></td>
        <td class="w150"><strong>{{ artifact.description }}</strong></td>
        <td>{{ artifact.price }}</td>
        <td>{{ artifact.flux.name }}</td>
        <td>
            <a href="{{ url('corahnrin_characters_artifacts_edit', {'id':artifact.id}) }}" class="btn btn-sm btn-inverse">{{ 'Éditer' | trans }}</a>
            {% if is_granted('ROLE_ADMIN_GENERATOR_SUPER') %}
            <a href="{{ url('corahnrin_characters_artifacts_delete', {'id':artifact.id}) }}" class="btn btn-sm btn-danger">{{ 'Supprimer' | trans }}</a>
            {% endif %}
        </td>
    </tr>
    {% else %}
    <tr><td colspan="7">{{ 'Aucun élément' | trans }}</td></tr>
    {% endfor %}
</table>

{% endblock %}