{% extends 'base.html.twig' %}

{% trans_default_domain 'EsterenPortal' %}

{% block html_params %}class="feond-beer"{% endblock %}
{% block menus '' %}
{% block footer '' %}
{% block wrapper_class 'valign-wrapper' %}

{% block more_headers %}
    <link rel="stylesheet" href="{{ asset('css/feond-beer.css') }}" type="text/css">
{% endblock %}

{% block title %}
    {{ 'feond_beer.title'|trans }}
{% endblock %}

{% block content_for_layout %}
    <div class="row">
        <div class="col m5">
            <h1 class="m0">
                <img class="right" src="{{ asset('img/feond-beer/feond-beer.png') }}" alt="Feond beer">
            </h1>
        </div>
        <div class="col m6 grey-text text-lighten-2">
            <h2 class="m0 text-xl text-center" style="word-wrap: normal;">
                <span class="hide-on-small-only">
                    <img class="feond-beer-logo" src="{{ asset('img/feond-beer/feond-beer-logo.png') }}" alt="Feond beer logo"><br>
                </span>
                Esteren Imperial Dark Saison
            </h2>

            {{ 'feond_beer.text'|trans({'%path%': url('esteren_portal_home')})|raw }}
        </div>
    </div>
{% endblock %}
