{% extends 'esteren/esteren-layout.html.twig' %}

{% block stylesheets -%}
    {{- parent() -}}
    <style type="text/css">.sr-only {position: absolute;width: 1px;height: 1px;margin: -1px;padding: 0;overflow: hidden;clip: rect(0,0,0,0);border: 0;}iframe#sc{resize: both;overflow: auto; width: 100%; height: 450px;}</style>
{%- endblock %}

{% block content_layout_class '' %}

{% block title "Les Ombres d'Esteren" %}

{% block content_for_layout %}

    {% spaceless %}

    <h1 class="sr-only">Bienvenue sur le nouveau portail des Ombres d'Esteren</h1>

    <div id="index-banner" class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <h2 class="header center white-text text-shadow-black-10">{{ portal_element.title }}</h2>
                <div class="row center">
                    <h2 class="header col s12 light white-text text-shadow-black-10 text-xl">
                        <strong>{{ portal_element.subtitle }}</strong>
                    </h2>
                </div>
                <div class="row center">
                    <a href="{{ portal_element.buttonLink }}" class="btn-large waves-effect waves-light bg-gold">
                        {{ portal_element.buttonText }}
                    </a>
                </div>
            </div>
        </div>
        <div class="parallax">
            <img src="{{ asset(uploaded_asset_url(portal_element.imageUrl)) }}">
        </div>
    </div>

    <div class="container">
        <div class="section">

            {# First line #}
            <div class="row">
                <div class="col s12 m3 hoverable">
                    <a href="https://www.esteren.org/forum/viewtopic.php?f=2&t=244&p=4208#p4208" class="bl">
                        <div class="portal_subtitle center" style="color: #E25822;"><img src="{{ asset('img/d10.svg') }}" alt="d10"></div>
                        <h3 class="center text-xxl">Jeu de rôle</h3>
                        <p>Découvrez la gamme de jeu de rôle et toutes les publications parues à ce jour.</p>
                    </a>
                </div>
                <div class="col s12 m3 hoverable">
                    <a href="https://esteren.bandcamp.com/" class="bl">
                        <div class="portal_subtitle center" style="color: #E27822;"><span class="fa fa-music">&nbsp;</span></div>
                        <h3 class="center text-xxl">Musique</h3>
                        <p>Écoutez des extraits des trois albums sur Bandcamp.</p>
                    </a>
                </div>
                <div class="col s12 m3 hoverable">
                    <a href="https://www.esteren.org/forum/" class="bl">
                        <div class="portal_subtitle center" style="color: #E29822;"><span class="fa fa-users">&nbsp;</span></div>
                        <h3 class="center text-xxl">Forum</h3>
                        <p>Rejoignez une communauté de 1000 meneurs de jeu et partagez vos créations.</p>
                    </a>
                </div>
                <div class="col s12 m3 hoverable">
                    {#<a href="https://shop.esteren.org/" class="bl">#}
                    <div class="bl">
                        <div class="portal_subtitle center" style="color: #E2B822;"><span class="fa fa-shopping-bag">&nbsp;</span></div>
                        <h3 class="center text-xxl">Boutique <small>(WIP...)</small></h3>
                        <p>Commandez en ligne, profitez d'offres exclusives et soutenez directement les créateurs.</p>
                    </div>
                    {#</a>#}
                </div>
            </div>

            {# Second line #}
            <div class="row">
                <div class="col s12 m3 hoverable">
                    <a href="http://blog.esteren.org/" class="bl">
                        <div class="portal_subtitle center" style="color: #E2B822;"><span class="fa fa-rss">&nbsp;</span></div>
                        <h3 class="center text-xxl">Blog</h3>
                        <p>Suivez les actualités du projet, nouvelles illustrations et carnet de bord des auteurs.</p>
                    </a>
                </div>
                <div class="col s12 m3 hoverable">
                    <a href="http://ombresdesteren.blogspot.fr/search/label/jeu%20vid%C3%A9o" class="bl">
                        <div class="portal_subtitle center" style="color: #E29822;"><span class="fa fa-gamepad">&nbsp;</span></div>
                        <h3 class="center text-xxl">Jeu vidéo</h3>
                        <p>Echappez aux Griffes du Seigneur Sorcier ou suivez le développement de l'Héritage des Mac Lyr.</p>
                    </a>
                </div>
                <div class="col s12 m3 hoverable">
                    <a href="http://ombresdesteren.blogspot.fr/2016/08/publication-hantises-le-recueil-de.html" class="bl">
                        <div class="portal_subtitle center" style="color: #E27822;"><span class="fa fa-book">&nbsp;</span></div>
                        <h3 class="center text-xxl">Littérature</h3>
                        <p>Plongez dans les légendes occultes de Tri-Kazel avec le premier recueil de nouvelles&nbsp;: Hantises.</p>
                    </a>
                </div>
                <div class="col s12 m3 hoverable">
                    <a href="http://ombresdesteren.blogspot.fr/2014/10/la-rose-noire-arrive-en-magasin-le-31.html" class="bl">
                        <div class="portal_subtitle center" style="color: #E25822;"><span class="fa fa-hand-grab-o">&nbsp;</span></div>
                        <h3 class="center text-xxl">Jeu de société</h3>
                        <p>Survivez à la Rose Noire, un jeu de plateau de déduction pour 4 à 5 joueurs.</p>
                    </a>
                </div>
            </div>

            {# Third line #}
            <div class="row">
                <div class="col s12 m3 hoverable">
                    <a href="https://www.google.com/maps/d/viewer?mid=1wdFjK4OsYcQpwiASe9AVhkGNPbQ" class="bl">
                        <div class="portal_subtitle center" style="color: #E25822;"><span class="fa fa-map">&nbsp;</span></div>
                        <h3 class="center text-xxl">Esteren Tour</h3>
                        <p>Rencontrez l'équipe pendant l'une des dates de la tournée initiée en 2010.</p>
                    </a>
                </div>
                <div class="col s12 m3 hoverable">
                    <a href="https://maps.esteren.org/fr/map-tri-kazel" class="bl">
                        <div class="portal_subtitle center" style="color: #E27822;"><span class="fa fa-map-marker">&nbsp;</span></div>
                        <h3 class="center text-xxl">Esteren Maps</h3>
                        <p>Voyagez avec ce logiciel qui calculera votre prochain itinéraire sur la carte de Tri-Kazel.</p>
                    </a>
                </div>
                <div class="col s12 m3 hoverable">
                    <a href="http://eepurl.com/bJci6b" class="bl">
                        <div class="portal_subtitle center" style="color: #E29822;"><span class="fa fa-envelope">&nbsp;</span></div>
                        <h3 class="center text-xxl">Mailing-list</h3>
                        <p>Inscrivez-vous à la mailing list et soyez prévenu au lancement du prochain financement participatif.</p>
                    </a>
                </div>
                <div class="col s12 m3 hoverable">
                    <a href="https://www.dropbox.com/sh/bp2kfgn43ueu6ru/AAAZytOXUADMlVpQdEG-Ttl1a" class="bl">
                        <div class="portal_subtitle center" style="color: #E2B822;"><span class="fa fa-dropbox">&nbsp;</span></div>
                        <h3 class="center text-xxl">Ressources</h3>
                        <p>Téléchargez de nombreuses ressources sur la page Dropbox du projet.</p>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="black">
        <div class="container">
            <div class="video-container portal-video">
                <iframe src="//player.vimeo.com/video/113587824" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center" style="color: #b8b8ff;">
                    <h2 class="text-3xl">Découvrez les Ombres d'Esteren</h2>
                    <p class="left-align">
                        Les Ombres d'Esteren est un univers médiéval horrifique et gothique, inspiré par les légendes
                        celtes. Il se décline sur plusieurs supports dont le jeu de rôle sur table, la musique, le jeu
                        de société ou encore le jeu vidéo.
                    </p>
                    <p class="left-align">
                        Si vous découvrez le jeu de rôle sur table et souhaitez lancer votre première partie, vous
                        pouvez <strong>télécharger librement</strong> le
                        <a href="https://www.dropbox.com/s/3c3zrwy643z0qgw/Esteren_Livre_0_Prologue.pdf" style="color: white;">Livre 0 – Prologue</a>.
                        Ce premier ouvrage de la gamme contient tout ce qu'il faut pour jouer&nbsp;: présentation de l'univers
                        et abrégé du système sur 6 pages chacun, 6 personnages prétirés et 3 scénarios pour des meneurs
                        de jeu de niveau débutant, intermédiaire et confirmé.
                    </p>
                    <p class="left-align">
                        Bon voyage dans les Ombres...
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="parallax"><img src="{{ asset('img/Esteren_Arven_marche.jpg') }}" alt="Les Ombres d'Esteren : Arven en train de marcher"></div>
    </div>

    <iframe id="sc" scrolling="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/35988611&color=ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false"></iframe>

    {% endspaceless %}

{% endblock %}
