<input type="hidden" name="region_value" id="region_value" value="{{ region_value }}" />

<div id="map"></div>
<div id="sidebar"></div>

<script type="text/javascript">
    (function(){
        document._map_params = {
            id: {{ map.id }},
            loaderCallbacks: {
                zonesComplete: function() {
                    var i, polygons;
                    {% if region_value %}
                        polygons = this._polygons;
                        for (i in polygons) {
                            if (polygons.hasOwnProperty(i)) {
                                if (polygons[i]._esterenZone.id == {{ region_value }}) {
                                    polygons[i].fireEvent('click');
                                    polygons[i].hideSidebar();
                                }
                            }
                        }
                    {% endif %}
                }
            },
            imgUrl: "{{ asset('bundles/esterenmaps/img') }}",
            apiUrls: {
                base: "{{ url('pierstoval_api_api_get', {'serviceName':'maps','id':map.id}) }}",
                tiles: "{{ asset('maps_tiles/1/{z}/{y}/{x}.jpg') }}"
            },
            LeafletMapBaseOptions: {
                maxZoom: {{ map.maxZoom }}
            },
            LeafletLayerBaseOptions: {
                maxZoom: {{ map.maxZoom }},
                maxNativeZoom: {{ map.maxZoom }},
                tileSize: {{ tile_size }}
            }
        };
    })();
</script>