{% extends "CorahnRinAdminBundle:Admin:layout.html.twig" %}

{% block title %}{{ 'Revers' | trans }} - {{ parent() }}{% endblock %}

{% block admin_content %}

<ol class="breadcrumb">
    <li><a href="{{ url('corahnrin_admin_admin_index') }}">{{ 'Accueil' | trans }}</a></li>
    <li><a href="{{ url('corahnrin_characters_setbacks_adminlist') }}">{{ 'Revers' | trans }}</a></li>
</ol>

<h1>{{ 'Revers' | trans }}</h1>

{% if is_granted('ROLE_ADMIN_GENERATOR_SUPER') %}
    <div class="navbar navbar-inverse">
        <div class="">
            <ul class="nav navbar-nav">
                <li><a href="{{ url('corahnrin_characters_setbacks_add') }}">
                    <span class="glyphicon icon-plus"></span>
                    {{ 'Ajouter un revers' | trans }}
                </a></li>
            </ul>
        </div>
    </div>
{% endif %}

<table class="table table-condensed">
    <tr>
        <th>#</th>
        <th>{{ 'Nom' | trans }}</th>
        <th>{{ 'Description' | trans }}</th>
        <th>{{ 'Malus' | trans }}</th>
        <th>{{ 'Actions' | trans }}</th>
    </tr>
    {% for setback in setbacks %}
    <tr>
        <td>{{ setback.id }}</td>
        <td class="w100">{{ setback.name }}</td>
        <td>{{ setback.description | slice(0,125) | raw }}{{ setback.description | length > 125 ? '(...)' : '' }}</td>
        <td class="w180">{{ setback.malus }}</td>
        <td>
            <a href="{{ url('corahnrin_characters_setbacks_edit', {'id':setback.id}) }}" class="btn btn-sm btn-inverse">{{ 'Éditer' | trans }}</a>
            {% if is_granted('ROLE_ADMIN_GENERATOR_SUPER') %}
            <a href="{{ url('corahnrin_characters_setbacks_delete', {'id':setback.id}) }}" class="btn btn-sm btn-danger">{{ 'Supprimer' | trans }}</a>
            {% endif %}
        </td>
    </tr>
    {% else %}
    <tr><td colspan="5">{{ 'Aucun élément' | trans }}</td></tr>
    {% endfor %}
</table>

{% endblock %}