{# Widgets #}

{% block form_widget %}
    {% spaceless %}
        {% if compound %}
            {{ block('form_widget_compound') }}
        {% else %}
            {{ block('form_widget_simple') }}
        {% endif %}
    {% endspaceless %}
{% endblock form_widget %}

{% block form_widget_simple %}
    {% spaceless %}
        {% set type = type|default('text') %}
        {% if attr.placeholder is not defined and label and type in ['text','textarea','email','number'] %}
            {% set attr = attr | merge({"placeholder":label}) %}
        {% endif %}
        {% if attr['data-toggle'] is defined and attr['data-toggle'] == 'tooltip' %}
            {% set _tooltip = true %}
            <div class="input-group">
                <span {{ attr['data-placement'] is defined ? 'data-placement='~attr['data-placement'] : '' }} class="input-group-addon cursor-pointer" data-toggle="tooltip" title="{{ attr.title }}">
                    <span class="glyphicon icon-circle_info"></span>
                </span>
            {% set attr = attr | merge({"data-toggle":null,"data-placement":null}) %}
        {% endif %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} {% for attrname, attrvalue in attr %}{% if attrname in ['placeholder', 'title'] %}{{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}" {% else %}{{ attrname }}="{{ attrvalue }}" {% endif %}{% endfor %}/>
        {% if _tooltip is defined and _tooltip == true %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_widget_simple %}

{% block textarea_widget %}
    {% spaceless %}
        {% if attr.placeholder is not defined and label %}
            {% set attr =  attr | merge({"placeholder":label}) %}
        {% endif %}
        <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
    {% endspaceless %}
{% endblock textarea_widget %}

{% block choice_widget_expanded %}
{% spaceless %}
    {% for child in form %}
        <div>
        {{ form_widget(child) }}
        {{ form_label(child) }}
        </div>
    {% endfor %}
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block button_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    {% if class is not defined %}
        {% set class = "btn btn-default" %}
    {% endif %}
    <button type="{{ type|default('button') }}" class="{{ class }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button>
{% endspaceless %}
{% endblock button_widget %}

{% block submit_widget %}
{% spaceless %}
    {% set type = type|default('submit') %}
    {% set class = "btn btn-inverse" %}
    {{ block('button_widget') }}
{% endspaceless %}
{% endblock submit_widget %}

{% block reset_widget %}
{% spaceless %}
    {% set type = type|default('reset') %}
    {{ block('button_widget') }}
{% endspaceless %}
{% endblock reset_widget %}

{# Labels #}

{% block form_label %}
{% spaceless %}
    {% if label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ (attrname == 'title' or attrname == 'placeholder' ? (attrvalue | trans) : attrvalue) }}"{% endfor %}>
            {{ label|trans({}, translation_domain) }}
            {% if required %}
                <span class="text-red">*</span>
            {% endif %}
        </label>
    {% endif %}
{% endspaceless %}
{% endblock form_label %}

{% block button_label %}{% endblock %}

{% block form_start %}
{% spaceless %}
    {% set method = method|upper %}
    {% if method in ["GET", "POST"] %}
        {% set form_method = method %}
    {% else %}
        {% set form_method = "POST" %}
    {% endif %}
    {% set attr = attr|merge({'class':((attr.class is defined) ? attr.class : '')~' form-horizontal'}) %}
    <form novalidate method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ (attrname == 'title' or attrname == 'placeholder' ? (attrvalue | trans) : attrvalue) }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    <p><span class="text-red">*</span>&nbsp;<em>{{ 'Champs obligatoires' | trans({}) }}</em></p>
    {% if form_method != method %}
        <input type="hidden" name="_method" value="{{ method }}" />
    {% endif %}
{% endspaceless %}
{% endblock form_start %}

{% block widget_attributes %}
{% spaceless %}
    id="{{ id }}" name="{{ full_name }}"{% if read_only %} readonly="readonly"{% endif %}{% if disabled %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}{% if max_length %} maxlength="{{ max_length }}"{% endif %}{% if pattern %} pattern="{{ pattern }}"{% endif %}
    {% for attrname, attrvalue in attr %}{% if attrname in ['placeholder', 'title'] %}{{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}" {% else %}{{ attrname }}="{{ attrvalue }}" {% endif %}{% endfor %}
{% endspaceless %}
{% endblock widget_attributes %}

{% block widget_container_attributes %}
{% spaceless %}
    {% if id is not empty %}id="{{ id }}" {% endif %}
    {% for attrname, attrvalue in attr %}{{ attrname }}="{{ (attrname == 'title' or attrname == 'placeholder' ? (attrvalue | trans) : attrvalue) }}" {% endfor %}
{% endspaceless %}
{% endblock widget_container_attributes %}

{% block button_attributes %}
{% spaceless %}
    id="{{ id }}" name="{{ full_name }}"{% if disabled %} disabled="disabled"{% endif %}
    {% for attrname, attrvalue in attr %}{{ attrname }}="{{ (attrname == 'title' or attrname == 'placeholder' ? (attrvalue | trans) : attrvalue) }}" {% endfor %}
{% endspaceless %}
{% endblock button_attributes %}
