{% extends "PierstovalAdminBundle:Admin:layout.html.twig" %}
{% import "EsterenMapsBundle:Zones:tree-macro.html.twig" as macros %}

{% block title %}{{ 'Zones' | trans }} - {{ parent() }}{% endblock %}

{% block admin_content %}

<ol class="breadcrumb">
    <li><a href="{{ url('pierstoval_admin_admin_index') }}">{{ 'Accueil' | trans }}</a></li>
    <li><a href="{{ url('esterenmaps_maps_zones_adminlist') }}">{{ 'Zones' | trans }}</a></li>
</ol>

<h1>{{ 'Zones' | trans }}</h1>

<div class="navbar navbar-inverse">
    <div class="">
        <ul class="nav navbar-nav">
            <li><a href="{{ url('esterenmaps_maps_zones_add') }}">
                <span class="glyphicon icon-plus"></span>
                {{ 'Ajouter une zone' | trans }}
            </a></li>
            <li><a href="{{ url('esterenmaps_maps_zones_addtype') }}">
                <span class="glyphicon icon-plus"></span>
                {{ 'Ajouter un Type de zone' | trans }}
            </a></li>
        </ul>
    </div>
</div>

<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#Zones" role="tab" data-toggle="tab">{{ 'Zones' | trans }}</a></li>
    <li><a href="#ZonesTypes" role="tab" data-toggle="tab">{{ 'Types de zones' | trans }}</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="Zones">
        <h3>{{ 'Zones' | trans }}</h3>
        <table class="table table-condensed">
            <tr>
                <th class="mw50">#</th>
                <th>{{ 'Nom' | trans }}</th>
                <th>{{ 'Type' | trans }}</th>
                <th>{{ 'Faction' | trans }}</th>
                <th class="w150">{{ 'Actions' | trans }}</th>
            </tr>
            {% for zone in zones %}
            <tr>
                <td>{{ zone.id }}</td>
                <td><strong>{{ zone.name }}</strong></td>
                <td>{{ zone.zoneType.name is defined ? zone.zoneType.name }}</td>
                <td>{{ zone.faction.name is defined ? zone.faction.name : ' - ' }}</td>
                <td>
                    <a href="{{ url('esterenmaps_maps_zones_edit', {'id':zone.id}) }}" class="btn btn-sm btn-inverse">{{ 'Éditer' | trans }}</a>
                    {% if is_granted('ROLE_ADMIN_MAPS_SUPER') %}
                        <a href="{{ url('esterenmaps_maps_zones_delete', {'id':zone.id}) }}" class="btn btn-sm btn-danger">{{ 'Supprimer' | trans }}</a>
                    {% endif %}
                </td>
            </tr>
            {% else %}
            <tr><td colspan="5">{{ 'Aucun élément' | trans }}</td></tr>
            {% endfor %}
        </table>
    </div>

    <div class="tab-pane" id="ZonesTypes">
        <h3>{{ 'Types de zones' | trans }}</h3>
        <table class="table table-condensed">
            <tr>
                <th class="mw50">#</th>
                <th>{{ 'Nom' | trans }}</th>
                <th class="w150">{{ 'Actions' | trans }}</th>
            </tr>
            {{ macros.zonesTypesTree(zonesTypes) }}
        </table>
    </div>
</div>

{% endblock %}