{% macro zonesTypesTree(elements, level = 0) %}

    {% for zoneType in elements %}

        {# Affiche la ligne du zone courant #}
        {{ _self.zonesTypesShowTr(zoneType) }}

        {# Affiche les enfants si besoin #}
        {% if zoneType.children %}
            {{ _self.zonesTypesTree(zoneType.children, level + 1) }}
            {% if level > 0 %}
                <tr>
                    <td colspan="5">&nbsp;</td>
                </tr>
            {% endif %}
        {% endif %}
    {% else %}
        <tr><td colspan="5">{{ 'Aucun élément' | trans }}</td></tr>
    {% endfor %}

{% endmacro %}


{% macro zonesTypesShowTr(zoneType) %}
    <tr>
        <td>{{ zoneType.id }}</td>
        <td>
            <span class="small">
                <small>
                    {% for i in 10..0 %}
                        {% if zoneType.parentByLevel(i) %}
                            {{ zoneType.parentByLevel(i).name }} &raquo;
                        {% endif %}
                    {% endfor %}
                </small>
            </span>
            <strong>{{ zoneType.name }}</strong>
        </td>
        <td>
            <a href="{{ url('esterenmaps_maps_zones_edittype', {'id':zoneType.id}) }}" class="btn btn-sm btn-inverse">{{ 'Éditer' | trans }}</a>
            {% if is_granted('ROLE_ADMIN_MAPS_SUPER') %}
                <a href="{{ url('esterenmaps_maps_zones_deletetype', {'id':zoneType.id}) }}" class="btn btn-sm btn-danger">{{ 'Supprimer' | trans }}</a>
            {% endif %}
        </td>
    </tr>
{% endmacro %}