{% extends "PierstovalAdminBundle:Admin:layout.html.twig" %}

{% block title %}{{ 'Marqueurs' | trans }} - {{ parent() }}{% endblock %}

{% block admin_content %}

<ol class="breadcrumb">
    <li><a href="{{ url('pierstoval_admin_admin_index') }}">{{ 'Accueil' | trans }}</a></li>
    <li><a href="{{ url('esterenmaps_maps_markers_adminlist') }}">{{ 'Marqueurs' | trans }}</a></li>
</ol>

<h1>{{ 'Marqueurs' | trans }}</h1>

<div class="navbar navbar-inverse">
    <div class="">
        <ul class="nav navbar-nav">
            <li><a href="{{ url('esterenmaps_maps_markers_add') }}">
                <span class="glyphicon icon-plus"></span>
                {{ 'Ajouter un marqueur' | trans }}
            </a></li>
            <li><a href="{{ url('esterenmaps_maps_markers_addtype') }}">
                <span class="glyphicon icon-plus"></span>
                {{ 'Ajouter un Type de marqueur' | trans }}
            </a></li>
        </ul>
    </div>
</div>

<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#Markers" role="tab" data-toggle="tab">{{ 'Marqueurs' | trans }}</a></li>
    <li><a href="#MarkersTypes" role="tab" data-toggle="tab">{{ 'Types de marqueurs' | trans }}</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="Markers">
        <h3>{{ 'Marqueurs' | trans }}</h3>
        <table class="table table-condensed">
            <tr>
                <th class="mw50">#</th>
                <th>{{ 'Nom' | trans }}</th>
                <th>{{ 'Type' | trans }}</th>
                <th>{{ 'Faction' | trans }}</th>
                <th class="w150">{{ 'Actions' | trans }}</th>
            </tr>
            {% for marker in markers %}
            <tr>
                <td>{{ marker.id }}</td>
                <td><strong>{{ marker.name }}</strong></td>
                <td>{{ marker.markerType.name }}</td>
                <td>{{ marker.faction.name is defined ? marker.faction.name : ' - ' }}</td>
                <td>
                    <a href="{{ url('esterenmaps_maps_markers_edit', {'id':marker.id}) }}" class="btn btn-sm btn-inverse">{{ 'Éditer' | trans }}</a>
                    {% if is_granted('ROLE_ADMIN_MAPS_SUPER') %}
                        <a href="{{ url('esterenmaps_maps_markers_delete', {'id':marker.id}) }}" class="btn btn-sm btn-danger">{{ 'Supprimer' | trans }}</a>
                    {% endif %}
                </td>
            </tr>
            {% else %}
            <tr><td colspan="5">{{ 'Aucun élément' | trans }}</td></tr>
            {% endfor %}
        </table>
    </div>

    <div class="tab-pane" id="MarkersTypes">
        <h3>{{ 'Types de marqueurs' | trans }}</h3>
        <table class="table table-condensed">
            <tr>
                <th class="mw50">#</th>
                <th>{{ 'Nom' | trans }}</th>
                <th class="w150">{{ 'Actions' | trans }}</th>
            </tr>
            {% for markerType in markersTypes %}
            <tr>
                <td>{{ markerType.id }}</td>
                <td><strong>{{ markerType.name }}</strong></td>
                <td>
                    <a href="{{ url('esterenmaps_maps_markers_edittype', {'id':markerType.id}) }}" class="btn btn-sm btn-inverse">{{ 'Éditer' | trans }}</a>
                    {% if is_granted('ROLE_ADMIN_MAPS_SUPER') %}
                        <a href="{{ url('esterenmaps_maps_markers_deletetype', {'id':markerType.id}) }}" class="btn btn-sm btn-danger">{{ 'Supprimer' | trans }}</a>
                    {% endif %}
                </td>
            </tr>
            {% else %}
            <tr><td colspan="5">{{ 'Aucun élément' | trans }}</td></tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}