{% spaceless %}

{% set dropdown = dropdown|default(false) %}

{% set links %}
    <li><a href="{{ path('user_profile_edit') }}">{{ 'layout.profile' | trans({}, 'UserBundle')|trim }}</a></li>
    {% if is_granted('ROLE_MANAGER') %}
        <li><a href="{{ path('easyadmin') }}">{{ 'links.admin' | trans }}</a></li>
    {% endif %}
    <li><a class="logout_link" href="{{ path('user_logout') }}">{{ 'layout.logout' | trans({}, 'UserBundle')|trim }}</a></li>
{% endset %}

{% if app.user.username is not defined %}
    <li><a class="login_link" href="{{ path('user_login') }}">{{ 'layout.login' | trans({}, 'UserBundle') }}</a></li>
    <li><a class="register_link" href="{{ path('user_register') }}">{{ 'layout.register' | trans({}, 'UserBundle') }}</a></li>
{% else %}
    <li>
        {% if dropdown %}
            <a href="#" class="dropdown-button" data-activates="profile-dropdown">
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'UserBundle') -}}
                &nbsp;<span class="fa fa-caret-down"></span>
            </a>
            <ul id="profile-dropdown" class="dropdown-content">
                {{ links }}
            </ul>
        {% else %}
            {{ links }}
        {% endif %}
    </li>
{% endif %}

{% endspaceless %}
