{%- block sonata_page_html_tag -%}
<!DOCTYPE html>
<html id="corahnrin" {{ sonata_seo_html_attributes() }}>
{% endblock %}

{% block sonata_page_head %}
<head {{ sonata_seo_head_attributes() }}>

    {% set title = sonata_seo_title() %}
    {% set title = title | striptags | trim %}
    <title>{% if title and title != 'Esteren'%}
        {{ title }} - Esteren
    {% else %}
        Esteren
    {% endif %}</title>
    {{ sonata_seo_metadatas() }}

    <meta name="generator" content="Pierstoval"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block stylesheets %}
        {% stylesheets
        '@EsterenPagesBundle/Resources/public/less/_main.less'

        'bundles/sonatapage/default.css'
        'bundles/sonatapage/page.css'

        'bundles/esterenmaps/css/leaflet.css'
        'bundles/esterenmaps/css/leaflet.draw.css'
        'bundles/esterenmaps/css/leaflet.sidebar.css'
        'bundles/esterenmaps/css/maps.css'

        'components/jquery-ui/themes/vader/jquery-ui.min.css'
        'components/jquery-ui/themes/vader/jquery.ui.theme.css'

        'components/jquery.colorpicker/jquery.colorpicker.css'

        output="css/global.css"
        filter="less,cssrewrite,?uglifycss"
        %}
        <link rel="stylesheet" href="{{ asset(asset_url, null, true) }}" type="text/css" />
        {% endstylesheets %}
    {% endblock %}

    {% block more_headers %}{% endblock %}

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('bundles/esterenpages/images/favicon-144.png', null, false) }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bundles/esterenpages/images/favicon-114.png', null, false) }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bundles/esterenpages/images/favicon-72.png', null, false) }}">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ asset('bundles/esterenpages/images/favicon-57.png', null, false) }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/esterenpages/images/favicon-57.png', null, false) }}"/>
    <link rel="shortcut icon" href="{{ asset('bundles/esterenpages/images/favicon-57.png', null, false) }}">
</head>
{% endblock %}

{% block sonata_page_body_tag %}
<body>
{% endblock %}

{% block body %}

    <div id="wrapper">

        {% block menus %}{# MENUS #}
            {% include 'EsterenPortalBundle:Menu:general_menu.html.twig' %}
        {% endblock %}

        <div id="layout" class="container">
            {# FLASH MESSAGES
            #}{% for key, messageList in app.session.flashbag.all() %}
                <div class="alert alert-{{ key == 'error' ? 'danger' : key }}">
                    {% for message in messageList %}
                        {{ message | trans({}, 'messages.flash') | raw }}
                        {% if not loop.last %}<br />{% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
            {% block fos_user_content %}{% endblock fos_user_content %}

            <div id="content">{# DYNAMIC CONTENT FOR LAYOUT #}

                {% block sonata_page_container %}
                    {% include '::sonata_content.html.twig' %}
                    {% block content_for_layout %}{% endblock %}
                {% endblock %}

            </div><!--/#content-->

        </div><!--/#layout-->

        {# FOOTER #}
        {% block footer %}
        <footer id="footer">
            <div class="container">
                <p class="text-muted text-center">{{ 'Version' | trans }} : {{ version_code }} : {{ version_date }}</a></p>
                <p class="text-muted text-center">{{ 'Tous droits réservés' | trans }} – Pierstoval 2012 - {{ 'now'|date('Y') }}</p>
                <p class="text-muted text-center">{{ "Tous les contenus sont générés par l'auteur du site, mais proviennent des livres des Ombres d'Esteren, et appartiennent au collectif Forgesonges, et édité par Agate Editions." | trans }}</p>
            </div>
        </footer>
        {% endblock %}

    </div><!--/#wrapper-->

{% endblock %}

{% block sonata_page_javascripts %}
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    {#{% for js in sonata_page.assets.javascripts %}<script src="{{ asset(js, null, true) }}" type="text/javascript"></script>{% endfor %}#}
    <script type="text/javascript" src="{{ asset('bundles/sonatapage/page.js', null, true) }}"></script>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ url('pierstoval_tools_assets_jstranslations', {"_locale":app.request.locale}) }}"></script>
    <script type="text/javascript" src="{{ asset('components/jquery/dist/jquery.min.js', null, true) }}"></script>
    {% javascripts
        'components/jquery-ui/ui/jquery.ui.core.js'
        'components/jquery-ui/ui/jquery.ui.widget.js'

        'components/bootstrap/js/button.js'
        'components/bootstrap/js/collapse.js'
        'components/bootstrap/js/dropdown.js'
        'components/bootstrap/js/modal.js'
        'components/bootstrap/js/tooltip.js'
        'components/bootstrap/js/popover.js'
        'components/bootstrap/js/transition.js'
        'components/bootstrap/js/tab.js'

        'components/jquery.colorpicker/jquery.colorpicker.js'
        'components/jquery.colorpicker/i18n/jquery.ui.colorpicker-de.js'
        'components/jquery.colorpicker/i18n/jquery.ui.colorpicker-en.js'
        'components/jquery.colorpicker/i18n/jquery.ui.colorpicker-fr.js'

        '@SonataCoreBundle/Resources/public/js/base.js'
        '@SonataPageBundle/Resources/public/page.js'
        '@EsterenPagesBundle/Resources/public/js/corahn_rin.js'
        output="js/global.js"
        filter="?uglifyjs" %}
    <script type="text/javascript" src="{{ asset(asset_url, null, true) }}"></script>
    {% endjavascripts %}
{% endblock %}

</body>
</html>
