<!DOCTYPE html>
<html id="corahnrin">

<head>

    <title>{% if title is defined and title != 'Esteren'%}
        {{ title }} - Esteren
    {% else %}
        Esteren
    {% endif %}</title>

    <meta name="generator" content="Pierstoval"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block stylesheets %}
        {% stylesheets
        '@EsterenPagesBundle/Resources/public/less/_main.less'

        'bundles/esterenmaps/css/leaflet.css'
        'bundles/esterenmaps/css/leaflet.draw.css'
        'bundles/esterenmaps/css/leaflet.sidebar.css'
        'bundles/esterenmaps/css/maps.css'

        'components/jquery-ui/themes/vader/jquery-ui.min.css'
        'components/jquery-ui/themes/vader/jquery.ui.theme.css'

        'components/jquery.colorpicker/jquery.colorpicker.css'

        output="css/global.css"
        filter="less,cssrewrite,?uglifycss"
        %}
        <link rel="stylesheet" href="{{ asset(asset_url, null, true) }}" type="text/css" />
        {% endstylesheets %}
    {% endblock %}

    {% block more_headers %}{% endblock %}

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('bundles/esterenpages/images/favicon-144.png', null, false) }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bundles/esterenpages/images/favicon-114.png', null, false) }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bundles/esterenpages/images/favicon-72.png', null, false) }}">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ asset('bundles/esterenpages/images/favicon-57.png', null, false) }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/esterenpages/images/favicon-57.png', null, false) }}"/>
    <link rel="shortcut icon" href="{{ asset('bundles/esterenpages/images/favicon-57.png', null, false) }}">
</head>

<body>

{% block body %}

    <div id="wrapper">

    {% block layout %}

        {% block menus %}{# MENUS #}
            {% include 'EsterenPortalBundle:Menu:general_menu.html.twig' %}
        {% endblock %}

        <div id="layout" class="container">
            {# FLASH MESSAGES
            #}{% for key, messageList in app.session.flashbag.all() %}
                <div class="alert alert-{{ key == 'error' ? 'danger' : key }}">
                    {% for message in messageList %}
                        {{ message | trans({}, 'messages.flash') | raw }}
                        {% if not loop.last %}<br />{% endif %}
                    {% endfor %}
                </div>
            {% endfor %}

            <div id="content">{# DYNAMIC CONTENT FOR LAYOUT #}

                {% block cms_breadcrumbs %}{% endblock %}

                {% block fos_user_content %}{% endblock %}

                {% block content_for_layout %}{% endblock %}

                {% block cms_page_content %}{% endblock %}

            </div><!--/#content-->

        </div><!--/#layout-->

        {# FOOTER #}
        {% block footer %}
        <footer id="footer">
            <div class="container">
                <p class="text-muted text-center">{{ 'Version' | trans }} : {{ version_code }} : {{ version_date }}</a></p>
                <p class="text-muted text-center">{{ 'Tous droits réservés' | trans }} – Pierstoval 2012 - {{ 'now'|date('Y') }}</p>
                <p class="text-muted text-center">{{ "Tous les contenus sont générés par l'auteur du site, mais proviennent des livres des Ombres d'Esteren, et appartiennent au collectif Forgesonges, et édité par Agate Editions." | trans }}</p>
            </div>
        </footer>
        {% endblock %}

    {% endblock %}

    </div><!--/#wrapper-->

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ url('pierstoval_tools_assets_jstranslations', {"_locale":app.request.locale}) }}"></script>
    <script type="text/javascript" src="{{ asset('components/jquery/dist/jquery.min.js', null, true) }}"></script>script
    <script type="text/javascript" src="{{ asset('js/global.js', null, true) }}"></script>
{% endblock %}

</body>
</html>
