<!DOCTYPE html>
<html id="corahnrin" lang="{{ app.request.locale|default(app.request.defaultLocale)|default('fr') }}">
<head>
{%- spaceless %}

    <meta charset="utf-8">

    <title>
        {%- if title is defined -%}
            {{- title ~ ' ' -}}
            {%- if title != 'Esteren' -%}
                - Esteren
            {%- endif -%}
        {%- else -%}
            Esteren
        {%- endif -%}
    </title>

    <meta name="generator" content="Pierstoval"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="">
    <meta name="author" content="">

    {% block more_headers %}{% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/global.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/fa.css') }}" type="text/css" />
    {% endblock %}

    {{ include('_favicons.html.twig') }}

{% endspaceless -%}
</head>

<body>

{{ include('_google_tag_manager.html.twig') }}

{% block body %}

    <div id="wrapper">

    {% block layout %}

        {% block menus %}
            {% spaceless %}
            {% if locale is not defined %}
                {% set locale = app.request.locale %}
            {% endif %}
            <div class="navbar navbar-inverse" id="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        {% block menu_brand_link %}
                            <a href="{{ path('root') }}" class="navbar-brand">{{ 'home' | trans({}, 'OrbitaleCms') }}</a>
                        {% endblock %}
                    </div>
                    <div class="navbar-collapse collapse">

                        {% block menu_left %}
                            <ul class="nav navbar-nav">
                                {% block menu_left_content %}{% endblock %}
                            </ul>
                        {% endblock %}

                        {% block menu_right %}
                        <ul class="nav navbar-nav navbar-right">
                            {% block menu_right_content %}
                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ 'lang' | trans({}, 'Languages') }} [{{ locale|upper }}] <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        {% set route_name = app.request.attributes.get('_route') %}
                                        {% set route_params = app.request.attributes.get('_route_params') %}
                                        {% for loc in locales %}
                                            {% if loc == locale %}
                                                <li class="active"><a>{{ loc | trans({}, 'Languages') }}</a></li>
                                            {% else %}
                                                <li><a href="{{ path(route_name, ((route_params|default({}, 'Languages')) | merge({'_locale':loc})) ) }}">{{ loc | trans({}, 'Languages') }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                                {% if app.user.username is not defined %}
                                    <li><a href="{{ path('user_login') }}">{{ 'layout.login' | trans({}, 'UserBundle') }}</a></li>
                                {% else %}
                                    <li><a href="{{ path('user_logout') }}">{{ 'layout.logout' | trans({}, 'UserBundle') }} [ {{ app.user.username }} ]</a></li>
                                    {% if is_granted('ROLE_MANAGER') %}
                                        <li><a href="{{ path('easyadmin') }}">{{ 'links.admin' | trans }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endblock %}
                        </ul>
                        {% endblock %}
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div><!--/.navbar.navbar-default-->
            {% endspaceless %}

        {% endblock %}

        <div id="layout" class="{% block content_layout_class %}container{% endblock %}">

            {# Flash messaages #}
            {% spaceless %}
                {% for key, messageList in app.session.flashbag.all %}

                    {% if loop.first %}<div id="flash-messages">{% endif %}

                    {% set translation_domain = 'messages.flash' %}

                    {% set class = key %}
                    {% if 'user_' in class %}
                        {# Sometimes, UserBundle can send specific error keys #}
                        {% set class = (class | replace({'user_': ''})) %}
                        {% set translation_domain = 'UserBundle' %}
                    {% endif %}
                    {% if 'error' == class %}
                        {# Fit bootstrap's needs #}
                        {% set class = 'danger' %}
                    {% endif %}

                    <div class="alert alert-{{ class }} {{ key }}">
                        {% for message in messageList %}
                            {{ message | trans({}, translation_domain) | raw }}
                            {% if not loop.last %}<br />{% endif %}
                        {% endfor %}
                    </div>

                    {% if loop.last %}</div>{% endif %}
                {% endfor %}
            {% endspaceless %}

            <div id="content">

                {% block orbitale_cms_breadcrumbs %}{% endblock %}

                {% block content_for_layout %}{% endblock %}

                {% block orbitale_cms_page_content %}{% endblock %}

            </div><!--/#content-->

        </div><!--/#layout-->

        {# FOOTER #}
        {% block footer %}
        <footer id="footer">
            <div class="container">
                <p class="text-muted text-center">{{ 'footer.version' | trans }} {{ version_code|replace({'v':''}) }} ({{ version_date|localizeddate(time_format='short', locale=app.request.locale) }})</p>
                <p class="text-muted text-center">Copyright &copy; 2012 - {{ 'now'|date('Y') }} {{ 'footer.rights' | trans }}</p>
                <p class="text-muted text-center">{{ 'footer.brand' | trans | raw }}</p>
            </div>
        </footer>
        {% endblock %}

    {% endblock %}

    </div><!--/#wrapper-->

{% endblock %}

{{ include('_google_analytics.html.twig') }}

{% block javascripts %}
    <script type="text/javascript" src="{{ path('pierstoval_tools_assets_jstranslations', {"_locale": app.request.locale}) }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/global.js') }}"></script>
{% endblock %}

</body>
</html>
