<!DOCTYPE html>
<html lang="fr" id="corahnrin">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Corahn-Rin{% endblock %}</title>
        <meta name="generator" value="Corahn Rin {{ constant('P_VERSION_CODE') }} - {{ constant('P_VERSION_DATE') }} - Automatic character creation by Pierstoval" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block more_headers %}{% endblock %}

	{% block stylesheets %}{% stylesheets
                '@CorahnRinPagesBundle/Resources/public/css/bootstrap.css'
                '@CorahnRinPagesBundle/Resources/public/css/bootstrap-more.css'
                '@CorahnRinPagesBundle/Resources/public/css/initializer.css'
                'bundles/corahnrinpages/css/glyphicons.css'
                'bundles/corahnrinpages/css/corahnrin-theme.css'
                '@CorahnRinPagesBundle/Resources/public/css/corahn_rin.css'
                '@CorahnRinMapsBundle/Resources/public/css/maps.css'
                filter="cssrewrite,?yui_css"
                output="css/main.css"
            %}<link rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost() ~ asset_url }}" type="text/css" />
		{% endstylesheets %}
        {% endblock %}

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('bundles/corahnrinpages/images/favicon-144.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bundles/corahnrinpages/images/favicon-114.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bundles/corahnrinpages/images/favicon-72.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ asset('bundles/corahnrinpages/images/favicon-57.png') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/corahnrinpages/images/favicon-57.png') }}" />
        <link rel="shortcut icon" href="{{ asset('bundles/corahnrinpages/images/favicon-57.png') }}">
    </head>
    <body>
        {% block body %}{% endblock %}

{% block javascripts %}{% javascripts
	'../vendor/twitter/bootstrap/js/tests/vendor/jquery.js'
	'../vendor/twitter/bootstrap/js/button.js'
	'../vendor/twitter/bootstrap/js/collapse.js'
	'../vendor/twitter/bootstrap/js/dropdown.js'
	'../vendor/twitter/bootstrap/js/modal.js'
	'../vendor/twitter/bootstrap/js/tooltip.js'
	'../vendor/twitter/bootstrap/js/popover.js'
	'../vendor/twitter/bootstrap/js/transition.js'
	'../vendor/twitter/bootstrap/js/tab.js'
	'@CorahnRinPagesBundle/Resources/public/js/jqueryUI/jquery.ui.core.min.js'
	'@CorahnRinPagesBundle/Resources/public/js/jqueryUI/jquery.ui.widget.min.js'
	'@CorahnRinPagesBundle/Resources/public/js/jqueryUI/jquery.ui.mouse.min.js'
	'@CorahnRinPagesBundle/Resources/public/js/jqueryUI/jquery.ui.draggable.min.js'
	'@CorahnRinPagesBundle/Resources/public/js/corahn_rin.js'
	output="js/main.js"
	filter="?yui_js"
%}<script type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() ~ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
    </body>
</html>