{%- if locale is not defined -%}
    {%- set locale = app.request.locale -%}
{%- endif -%}
{%- set facebook_url = locale == 'en'
    ? 'https://www.facebook.com/ShadowsOfEsteren/'
    : 'https://www.facebook.com/pages/Les-Ombres-dEsteren/257938482620'
-%}
<!DOCTYPE html>
<html id="corahnrin" lang="{{ app.request.locale|default(app.request.defaultLocale)|default('fr') }}" {% block html_params %}{% endblock %}>
<head>
    {%- spaceless %}

        <meta charset="utf-8">

        <title>
            {% block title %}
                {%- if title is defined -%}
                    {{- title ~ ' ' -}}
                    {%- if title != 'Esteren' -%}
                        - Esteren
                    {%- endif -%}
                {%- else -%}
                    Esteren
                {%- endif -%}
            {% endblock %}
        </title>

        <meta name="generator" content="Pierstoval"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block more_headers %}{% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/global_mat.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('css/initializer.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('css/fa.css') }}" type="text/css" />
        {% endblock %}

        {{ include('_favicons.html.twig') }}

    {% endspaceless -%}
</head>

<body {% block body_params %}{% endblock %}>

{{ include('_google_tag_manager.html.twig') }}

{% block body %}

    <div id="wrapper" class="{% block wrapper_class %}{% endblock %}">

        {% block layout %}

            {% block menus %}
                {% spaceless %}

                    <nav id="main_navigation" role="navigation">
                        <div class="nav-wrapper container blue-text">
                            {% block menu_brand_link %}
                                <a href="{{ path('root') }}" class="brand-logo position-static left" title="{{ 'home' | trans({}, 'OrbitaleCms') }}">
                                    <img id="esteren_logo" src="{{ asset('img/Esteren_logo_400.png') }}" alt="{{ 'home' | trans({}, 'OrbitaleCms') }}">
                                </a>
                            {% endblock %}

                            {% block menu_left %}
                                <ul class="left hide-on-med-and-down">
                                    {% block menu_left_content %}{% endblock %}
                                </ul>
                            {% endblock %}
                            {% block menu_right %}
                                <ul class="right hide-on-med-and-down">
                                    {% block menu_right_content %}
                                        {{ include('_menu_right.html.twig', {'dropdown': true}) }}
                                    {% endblock %}
                                </ul>
                            {% endblock %}

                            {% block menu_mobile %}
                                <ul id="nav-mobile" class="side-nav">
                                    {% block menu_mobile_content %}
                                        {{ block('menu_left_content') }}
                                        {{ include('_menu_right.html.twig', {'dropdown': false}) }}
                                    {% endblock %}
                                </ul>
                            {% endblock %}
                            {% if block('menu_mobile')|trim|length %}
                                <a href="#" id="nav-mobile-link" data-activates="nav-mobile" class="button-collapse right" title="{{ 'links.menu'|trans }}">
                                    <i class="fa fa-bars text-white"></i> Menu
                                </a>
                            {% endif %}
                        </div>
                    </nav>
                {% endspaceless %}
            {% endblock %}

            <div id="layout" class="{% block layout_class %}{% endblock %}">

                <div id="content" class="{% block content_layout_class %}container{% endblock %}">

                    {% block flash_messages %}
                        {{ include('_flash_messages.html.twig') }}
                    {% endblock %}

                    {% block content_for_layout %}{% endblock %}

                    {% block orbitale_cms_page_content %}{% endblock %}

                </div><!--/#content-->

            </div><!--/#layout-->

            {# FOOTER #}
            {% block footer %}
                {% spaceless %}
                <footer id="page-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col l6 s12">
                                {% block footer_about %}{% endblock %}
                            </div>
                            <div class="col l4 offset-l2 s12">
                                {% block footer_links %}
                                    <h2>{{ 'footer.links'|trans }}</h2>
                                    <ul>
                                    {% block footer_links_content %}
                                        <li><a href="{{ path('contact') }}">{{ 'footer.contact'|trans }}</a></li>
                                        <li><a href="https://www.google.com/maps/d/viewer?mid=1wdFjK4OsYcQpwiASe9AVhkGNPbQ">{{ 'footer.meet_the_team'|trans }}</a></li>
                                        {% if app.request.locale == 'fr' %}
                                            <li><a href="{{ path('legal_mentions') }}">{{ 'footer.legal_mentions'|trans }}</a></li>
                                        {% endif %}
                                    {% endblock %}
                                    </ul>
                                {% endblock %}

                                {% block footer_social_networks %}
                                    <h2>{{ 'footer.social_networks'|trans }}</h2>
                                    <ul>
                                        {% block footer_social_networks_content %}{% endblock %}
                                    </ul>
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                    <div class="footer-copyright">
                        <div class="container">
                            <p class="left">
                            {% block footer_text %}
                                {{ 'footer.version_text'|trans({
                                    '%version%': version_code|replace({'v':''}),
                                    '%version_date%': version_date|localizeddate('medium', 'short', locale=app.request.locale)
                                })|raw }}
                                <br>
                                {{ 'footer.full_text'|trans({
                                    '%year%': 'now'|date('Y'),
                                    '%more%': '',
                                })|raw }}
                            {% endblock %}
                            </p>

                            <p class="right light">
                            {%- set route_name = app.request.attributes.get('_route') -%}
                            {%- set route_params = app.request.attributes.get('_route_params') -%}
                            {%- if route_name -%}
                                {%- for loc in locales %}
                                    {%- if loc == locale -%}
                                        {{- loc | trans({}, 'Languages') -}}
                                    {%- else -%}
                                        <a class="text-underline" href="{{ path(route_name, ((route_params|default({}, 'Languages')) | merge({'_locale':loc})) ) }}">{{ loc | trans({}, 'Languages') }}</a>
                                    {%- endif -%}
                                    {%- if not loop.last %} &ndash; {% endif -%}
                                {%- endfor -%}
                            {%- endif -%}
                            </p>

                            <div class="clear"></div>
                        </div>
                    </div>
                </footer>
                {% endspaceless %}
            {% endblock %}

        {% endblock %}

    </div><!--/#wrapper-->

{% endblock %}

{{ include('_google_analytics.html.twig') }}

{% block javascripts %}
    {% if app.session.has('connect_other_domains') %}
        {{ include('@Agate/connect/connect_script.html.twig', {'domains': [
            esteren_domains_corahnrin,
            esteren_domains_esterenmaps,
            esteren_domains_portal,
            esteren_domains_backoffice,
            esteren_domains_api,
            esteren_domains_games,
            agate_domains_portal,
            vermine_domains_portal
            ]}) }}
        {{ app.session.remove('connect_other_domains') ? '' : '' }}
    {% endif %}
    <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/global_mat.js') }}"></script>
    <script type="text/javascript" src="{{ path('pierstoval_tools_assets_jstranslations', {'_locale': app.request.locale}) }}"></script>
{% endblock %}

</body>
</html>
