<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Corahn-Rin{% endblock %}</title>
        <meta name="generator" value="Corahn Rin {{ constant('P_VERSION_CODE') }} - {{ constant('P_VERSION_DATE') }} - Automatic character creation by Pierstoval" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block more_headers %}{% endblock %}

        {% block stylesheets %}
            {% stylesheets
                '../vendor/twitter/bootstrap/dist/css/bootstrap.min.css'
                '../vendor/twitter/bootstrap/dist/css/bootstrap-theme.min.css'
                '@CorahnRinPagesBundle/Resources/public/css/initializer.css'
                '@CorahnRinPagesBundle/Resources/public/css/corahn_rin.css'
                '@CorahnRinPagesBundle/Resources/public/css/bootstrap-more.css'
                '@CorahnRinPagesBundle/Resources/public/css/jquery-ui-1.10.3.custom.min.css'
                '@CorahnRinMapsBundle/Resources/public/css/maps.css'
                filter="cssrewrite,?yui_css"
                output="css/theme.css"
            %}<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        {% endblock %}

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('@CorahnRinPagesBundle/Resources/public/img/favicon-144.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('@CorahnRinPagesBundle/Resources/public/img/favicon-114.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('@CorahnRinPagesBundle/Resources/public/img/favicon-72.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ asset('@CorahnRinPagesBundle/Resources/public/img/favicon-57.png') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('@CorahnRinPagesBundle/Resources/public/img/favicon-57.png') }}" />
        <link rel="shortcut icon" href="{{ asset('@CorahnRinPagesBundle/Resources/public/img/favicon-57.png') }}">
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}
            {% javascripts
                '../vendor/twitter/bootstrap/js/tests/vendor/jquery.js'
                '../vendor/twitter/bootstrap/dist/js/bootstrap.js'
                '@CorahnRinPagesBundle/Resources/public/js/jquery-ui-1.10.3.custom.min.js'
                output="js/main.js"
                filter="?yui_js"
            %}<script type="text/javascript" src="{{ asset_url }}"></script>{% endjavascripts %}
        {% endblock %}

    </body>
</html>
