{%- if locale is not defined -%}
    {%- set locale = app.request.locale -%}
{%- endif -%}
<!DOCTYPE html>
<html id="corahnrin" lang="{{ app.request.locale|default(app.request.defaultLocale)|default('fr') }}">
<head>
    {%- spaceless %}

        <meta charset="utf-8">

        <title>
            {% block title %}
                {%- if title is defined -%}
                    {{- title ~ ' ' -}}
                    {%- if title != 'Esteren' -%}
                        - Esteren
                    {%- endif -%}
                {%- else -%}
                    Esteren
                {%- endif -%}
            {% endblock %}
        </title>

        <meta name="generator" content="Pierstoval"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="">
        <meta name="author" content="">

        {% block more_headers %}{% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/global_mat.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('css/initializer.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('css/fa.css') }}" type="text/css" />
        {% endblock %}

        {{ include('_favicons.html.twig') }}

    {% endspaceless -%}
</head>

<body>

{{ include('_google_tag_manager.html.twig') }}

{% block body %}

    <div id="wrapper">

        {% block layout %}

            {% block menus %}
                {% spaceless %}

                    <nav id="main_navigation" role="navigation">
                        <div class="nav-wrapper container blue-text">
                            {% block menu_brand_link %}
                                <a href="{{ path('root') }}" class="brand-logo position-static left" title="{{ 'home' | trans({}, 'OrbitaleCms') }}">
                                    <img id="esteren_logo" src="{{ asset('img/Esteren_logo_400.png') }}" alt="{{ 'home' | trans({}, 'OrbitaleCms') }}">
                                </a>
                            {% endblock %}

                            {% block menu_left %}
                                <ul class="left hide-on-med-and-down">
                                    {% block menu_left_content %}{% endblock %}
                                </ul>
                            {% endblock %}
                            {% block menu_right %}
                                <ul class="right hide-on-med-and-down">
                                    {% block menu_right_content %}
                                        {% block menu_locale %}{% endblock %}
                                        {% block menu_security %}
                                            {% if app.user.username is not defined %}
                                                <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login' | trans({}, 'FOSUserBundle') }}</a></li>
                                            {% else %}
                                                <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout' | trans({}, 'FOSUserBundle')|trim }} [ {{ app.user.username|trim }} ]</a></li>
                                                {% if is_granted('ROLE_MANAGER') %}
                                                    <li><a href="{{ path('easyadmin') }}">{{ 'links.admin' | trans }}</a></li>
                                                {% endif %}
                                            {% endif %}
                                        {% endblock %}
                                    {% endblock %}
                                </ul>
                            {% endblock %}

                            <ul id="nav-mobile" class="side-nav">
                                {{ block('menu_left_content') }}
                                {{ block('menu_right_content') }}
                            </ul>
                            <a href="#" data-activates="nav-mobile" class="button-collapse right text-white" title="{{ 'links.menu'|trans }}"><i class="fa fa-bars text-black"></i></a>
                        </div>
                    </nav>
                {% endspaceless %}
            {% endblock %}

            <div id="layout" class="{% block layout_class %}{% endblock %}">

                <div id="content" class="{% block content_layout_class %}container{% endblock %}">

                    {% block flash_messages %}
                        {{ include('_flash_messages.html.twig') }}
                    {% endblock %}

                    {#{% block orbitale_cms_breadcrumbs %}{% endblock %}#}

                    {% block fos_user_content %}{% endblock %}

                    {% block content_for_layout %}{% endblock %}

                    {% block orbitale_cms_page_content %}{% endblock %}

                </div><!--/#content-->

            </div><!--/#layout-->

            {# FOOTER #}
            {% block footer %}
                {% spaceless %}
                <footer class="page-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col l6 s12">
                                <h5>{{ 'footer.about'|trans }}</h5>
                                <p>
                                    {{ 'footer.about_text'|trans }}
                                </p>
                            </div>
                            <div class="col l4 offset-l2 s12">
                                <h5>{{ 'footer.links'|trans }}</h5>
                                <ul>
                                    <li><a href="{{ path('contact') }}">{{ 'footer.contact'|trans }}</a></li>
                                    <li><a href="#">{{ 'footer.subscribe'|trans }}</a></li>
                                    <li><a href="http://agate-rpg.blogspot.frr/">{{ 'footer.agate_rpg'|trans }}</a></li>
                                    {% if app.request.locale == 'fr' %}
                                    <li><a href="{{ path('legal_mentions') }}">{{ 'footer.legal_mentions'|trans }}</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer-copyright">
                        <div class="container">
                            <p class="left">
                            {{ 'footer.version' | trans }} {{ version_code }} ({{ version_date }})
                            <br>
                            Copyright &copy; 2012-{{ 'now'|date('Y') }} {{ 'footer.rights' | trans }}
                            &ndash;
                            {{ 'footer.brand' | trans | raw }}
                            </p>

                            <p class="right light">
                            {%- set route_name = app.request.attributes.get('_route') -%}
                            {%- set route_params = app.request.attributes.get('_route_params') -%}
                            {%- if route_name -%}
                                {%- for loc in locales %}
                                    {%- if loc == locale -%}
                                        {{- loc | trans({}, 'Languages') -}}
                                    {%- else -%}
                                        <a class="text-underline" href="{{ path(route_name, ((route_params|default({}, 'Languages')) | merge({'_locale':loc})) ) }}">{{ loc | trans({}, 'Languages') }}</a>
                                    {%- endif -%}
                                    {%- if not loop.last %} &ndash; {% endif -%}
                                {%- endfor -%}
                            {%- endif -%}
                            </p>

                            <div class="clear"></div>
                        </div>
                    </div>
                </footer>
                {% endspaceless %}
            {% endblock %}

        {% endblock %}

    </div><!--/#wrapper-->

{% endblock %}

{{ include('_google_analytics.html.twig') }}

{% block javascripts %}
    <script type="text/javascript" src="{{ path('pierstoval_tools_assets_jstranslations', {"_locale": app.request.locale}) }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/global_mat.js') }}"></script>
{% endblock %}

</body>
</html>
