{#% spaceless %#}<!DOCTYPE html>
<html lang="fr" id="corahnrin">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Corahn-Rin{% endblock %}</title>
    <meta name="generator" value="Corahn Rin {{ constant('P_VERSION_CODE') }} - {{ constant('P_VERSION_DATE') }} - Character manager by Pierstoval"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block more_headers %}{% endblock %}

    {% block stylesheets %}
        {% stylesheets
        'components/bootstrap/less/bootstrap.less'
        output="css/bootstrap.css"
        filter="less,cssrewrite"
        %}
        <link rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost() ~ asset_url }}" type="text/css" />
        {% endstylesheets %}

        {% stylesheets
            '@EsterenPagesBundle/Resources/public/css/bootstrap-more.css'
            '@EsterenPagesBundle/Resources/public/css/initializer.css'

            'bundles/esterenpages/css/glyphicons.css'
            'bundles/esterenpages/css/corahnrin-theme.css'

            '@EsterenPagesBundle/Resources/public/css/corahn_rin.css'

            'bundles/esterenmaps/css/leaflet.css'
            'bundles/esterenmaps/css/leaflet.draw.css'
            '@EsterenMapsBundle/Resources/public/css/leaflet.sidebar.css'
            '@EsterenMapsBundle/Resources/public/css/maps.css'

            'components/jquery-ui/themes/vader/jquery-ui.min.css'
            'components/jquery-ui/themes/vader/jquery.ui.theme.css'
            filter="cssrewrite"
            output="css/main.css" %}
        <link rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost() ~ asset_url }}" type="text/css" />
        {% endstylesheets %}
    {% endblock %}

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('bundles/esterenpages/images/favicon-144.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bundles/esterenpages/images/favicon-114.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bundles/esterenpages/images/favicon-72.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ asset('bundles/esterenpages/images/favicon-57.png') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/esterenpages/images/favicon-57.png') }}"/>
    <link rel="shortcut icon" href="{{ asset('bundles/esterenpages/images/favicon-57.png') }}">
</head>
<body>
{% block body %}{% endblock %}

{% block javascripts %}
    {% if app.security.isGranted('ROLE_USER') %}
        <script type="text/javascript" src="{{ url('pierstoval_tools_assets_jstranslations') }}"></script>
    {% endif %}
    {% javascripts

    'components/jquery/dist/jquery.min.js'

    'components/bootstrap/js/button.js'
    'components/bootstrap/js/collapse.js'
    'components/bootstrap/js/dropdown.js'
    'components/bootstrap/js/modal.js'
    'components/bootstrap/js/tooltip.js'
    'components/bootstrap/js/popover.js'
    'components/bootstrap/js/transition.js'
    'components/bootstrap/js/tab.js'

    'components/jquery-ui/ui/minified/jquery.ui.core.min.js'
    'components/jquery-ui/ui/minified/jquery.ui.widget.min.js'
    'components/jquery-ui/ui/minified/jquery.ui.mouse.min.js'
    'components/jquery-ui/ui/minified/jquery.ui.draggable.min.js'
    'components/jquery-ui/ui/minified/jquery.ui.slider.min.js'

    '@EsterenPagesBundle/Resources/public/js/corahn_rin.js'

    output="js/main.js"
    filter="" %}
    <script type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() ~ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
{#% endspaceless %#}