<!DOCTYPE html>
<html id="corahnrin">

<head>

    <title>{% if title is defined and title != 'Esteren'%}
        {{ title }} - Esteren
    {% else %}
        Esteren
    {% endif %}</title>

    <meta name="generator" content="Pierstoval"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/global.css') }}" type="text/css" />
    {% endblock %}

    {% block more_headers %}{% endblock %}

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('bundles/esterenportal/images/favicon-144.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bundles/esterenportal/images/favicon-114.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bundles/esterenportal/images/favicon-72.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ asset('bundles/esterenportal/images/favicon-57.png') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/esterenportal/images/favicon-57.png') }}"/>
    <link rel="shortcut icon" href="{{ asset('bundles/esterenportal/images/favicon-57.png') }}">
</head>

<body>

{% block body %}

    <div id="wrapper">

    {% block layout %}

        {% block menus %}
            {% include 'EsterenPortalBundle:Menu:general_menu.html.twig' %}
        {% endblock %}

        <div id="layout" class="container">

            {% include '_flash_messages.html.twig' with {'messages': app.session.flashbag.all()} %}

            <div id="content">

                {% block orbitale_cms_breadcrumbs %}{% endblock %}

                {% block fos_user_content %}{% endblock %}

                {% block content_for_layout %}{% endblock %}

                {% block orbitale_cms_page_content %}{% endblock %}

            </div><!--/#content-->

        </div><!--/#layout-->

        {# FOOTER #}
        {% block footer %}
        <footer id="footer">
            <div class="container">
                <p class="text-muted text-center">{{ 'Version' | trans }} : {{ version_code }} : {{ version_date }}</a></p>
                <p class="text-muted text-center">{{ 'Tous droits réservés' | trans }} – Pierstoval 2012 - {{ 'now'|date('Y') }}</p>
                <p class="text-muted text-center">{{ "Tous les contenus sont générés par l'auteur du site, mais proviennent des livres des Ombres d'Esteren, et appartiennent au collectif Forgesonges, et édité par Agate Editions." | trans }}</p>
            </div>
        </footer>
        {% endblock %}

    {% endblock %}

    </div><!--/#wrapper-->

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ path('pierstoval_tools_assets_jstranslations', {"_locale": app.request.locale}) }}"></script>
    <script type="text/javascript" src="{{ asset('components/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/global.js') }}"></script>
{% endblock %}

</body>
</html>
