{% spaceless %}
    {% set route = app.request.attributes.get('_route') %}

    <li><a href="http://agate-rpg.blogspot.fr/">{{ 'footer.agate_rpg_blog'|trans }}</a></li>
    <li {{ route == 'contact' ? 'class="active"' }}><a href="{{ path('contact') }}">{{ 'footer.contact'|trans }}</a></li>
    <li {{ route == 'agate_team' ? 'class="active"' }}><a href="{{ path('agate_team') }}">{{ 'footer.team'|trans }}</a></li>
{% endspaceless %}
