{% extends '@Agate/agate-layout.html.twig' %}

{% block stylesheets -%}
    {{- parent() -}}
    <style type="text/css">.sr-only {position: absolute;width: 1px;height: 1px;margin: -1px;padding: 0;overflow: hidden;clip: rect(0,0,0,0);border: 0;}</style>
{%- endblock %}

{% block content_for_layout %}

    {% spaceless %}

    <h1 class="sr-only">Bienvenue sur le nouveau portail du Studio Agate</h1>

    <div id="index-banner" class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <h2 class="header center white-text text-shadow-black-10">Le retour de la 7e Mer en France !</h2>
                <div class="row center">
                    <h2 class="header col s12 light white-text text-shadow-black-10 text-xl">
                        <strong>Participez au financement participatif sur Ulule</strong>
                    </h2>
                </div>
                <div class="row center">
                    <a href="https://fr.ulule.com/7e-mer/" class="btn-large waves-effect waves-light bg-gold">
                        En savoir plus
                    </a>
                </div>
            </div>
        </div>
        <div class="parallax">
            <img src="{{ asset('img/agate/Agate_7th_Sea.jpg') }}" alt="Jeu de rôle 7e Mer">
        </div>
    </div>

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 m4 hoverable">
                    <a href="http://www.esteren.org/" class="bl portal-link">
                        <h2 class="text-xxl">
                            <img src="{{ asset('img/agate/Portal_Esteren_logo.png') }}" alt="Les Ombres d'Esteren">
                        </h2>
                        <p>Horreur gothique médiévale dans un univers romantique inspiré par les légendes celtes</p>
                    </a>
                </div>
                <div class="col s12 m4 hoverable">
                    <a href="http://www.dragons-jdr.blogspot.fr/" class="bl portal-link">
                        <h2 class="text-xxl">
                            <img src="{{ asset('img/agate/Portal_Dragons_logo.png') }}" alt="Dragons">
                        </h2>
                        <p>Univers basé sur les règles augmentées de la 5ème édition du plus mythique des JDR</p>
                    </a>
                </div>
                <div class="col s12 m4 hoverable">
                    <div class="bl portal-link">
                        <h2 class="text-xxl verminepic">
                            <img src="{{ asset('img/agate/Portal_Vermine_empty.png') }}" alt="Vermine 2047">
                            <span>Vermine 2047</span>
                        </h2>
                        <p>Survie post-apocalyptique dans un monde où la nature est devenue un prédateur pour l'homme</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4 offset-m1 hoverable">
                    <a href="http://www.facebook.com/7thSeaVF/" class="bl portal-link">
                        <h2 class="text-xxl">
                            <img src="{{ asset('img/agate/Portal_7e_Mer_Logo.png') }}" alt="7th Sea">
                        </h2>
                        <p>Aventure, piraterie et intrigue pour cet univers haut en couleurs fidèle au genre de cape et d'épée</p>
                    </a>
                </div>

                <div class="col s12 m4 offset-m1 hoverable">
                    <a href="http://www.facebook.com/vampirelerequiem/" class="bl portal-link">
                        <h2 class="text-xxl">
                            <img src="{{ asset('img/agate/Portal_Vampire_Requiem_Logo.png') }}" alt="Vampire : Le Requiem">
                        </h2>
                        <p>Cette nuit, vous devenez l'une des beautés damnées qui se cachent derrière notre monde ordinaire</p>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="parallax"><img src="{{ asset('img/agate/esteren_dearg_front.jpg') }}" alt="Les Ombres d'Esteren : Arven en train de marcher"></div>
    </div>

    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center text-m">
                    <h2 id="decouvrir-esteren">Qui sommes-nous ?</h2>
                    <p class="left-align">
                        Basé en France, notre studio est spécialisé dans le transmedia, l'écriture de scénarios et la
                        création de mondes imaginaires.<br>
                        Nous produisons des livres de jeux de rôle, des albums de musique ou encore des jeux vidéos qui
                        cumulent une dizaine de prix à l'international.<br>
                        Nous traduisons et publions également des licences de grands jeux avec notre label d'édition
                        <strong>Agate RPG</strong>.
                    </p>
                    <p class="left-align">
                        Vous pouvez suivre notre travail sur <a href="http://agate-rpg.blogspot.fr/">notre blog</a>.
                    </p>
                    <p class="left-align">
                        Vous souhaitez envoyer votre candidature ou faire appel nos services ?
                        <a href="{{ path('contact') }}">Contactez-nous</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="parallax"><img src="{{ asset('img/Esteren_Arven_marche.jpg') }}" alt="Les Ombres d'Esteren : Arven en train de marcher"></div>
    </div>

        <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col s12 center text-m">
                        <h2 id="decouvrir-esteren">L'équipe</h2>
                        {% set team = {
                            'Asami': {
                                icon: 'img/agate/team/clovis.png',
                                details: 'Maquettiste, graphiste et illustratrice, aussi surnommée "MacGyver".'
                            },
                            'Clovis': {
                                icon: 'img/agate/team/clovis.png',
                                details: 'Traducteur multifonction et coordinateur de la version anglaise des Ombres d\'Esteren.'
                            },
                            'Gawain': {
                                icon: 'img/agate/team/clovis.png',
                                details: 'Illustrateur senior du studio, Gawain aime aussi se balader seul en pleine nature.'
                            },
                            'Iris': {
                                icon: 'img/agate/team/clovis.png',
                                details: 'Auteure et illustratrice, coordinatrice de la gamme Dragons, grande prêtresse de Redmine.'
                            },
                            'Pierstoval': {
                                icon: 'img/agate/team/clovis.png',
                                details: 'Webmaster &amp; développeur web du studio, né sur un clavier, créateur des applications Esteren Maps et Corahn-Rin.'
                            },
                            'Nel': {
                                icon: 'img/agate/team/clovis.png',
                                details: 'Auteur et illustrateur, actuel capitaine du studio et amateur de grimaces.'
                            }
                        } %}

                        {% for members in team|batch(3) %}
                            <div class="row">
                                {% for name, member in members %}
                                    <div class="col m4">
                                        <div class="card-panel team-member text-left bl">
                                            <h3 class="text-xxl">
                                                <img src="{{ asset(member.icon) }}" alt="{{ name }}" class="circle">
                                                <span>{{ name }}</span>
                                            </h3>
                                            <p>{{ member.details|raw }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    {% endspaceless %}

{% endblock %}
