{% extends '@Agate/agate-layout.html.twig' %}

{% block stylesheets -%}
    {{- parent() -}}
    <style type="text/css">.sr-only {position: absolute;width: 1px;height: 1px;margin: -1px;padding: 0;overflow: hidden;clip: rect(0,0,0,0);border: 0;}</style>
{%- endblock %}

{% block content_for_layout %}

    {% spaceless %}

    <h1 class="sr-only">Bienvenue sur le nouveau portail du Studio Agate</h1>

    <div id="index-banner" class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <h2 class="header center white-text text-shadow-black-10">Le retour de la 7e Mer en France !</h2>
                <div class="row center">
                    <h3 class="header col s12 light white-text text-shadow-black-10 text-xl">
                        <strong>Participez au financement participatif sur Ulule</strong>
                    </h3>
                </div>
                <div class="row center">
                    <a href="https://fr.ulule.com/7e-mer/" class="btn-large waves-effect waves-light bg-gold">
                        En savoir plus
                    </a>
                </div>
            </div>
        </div>
        <div class="parallax">
            <img src="{{ asset('img/agate/Agate_7th_Sea.jpg') }}" alt="Jeu de rôle 7e Mer">
        </div>
    </div>

    <div class="container">
        <div class="section">

            <h2 class="center">Nos jeux de rôle&nbsp;:</h2>

            <div class="row">
                <div class="col s12 m4 hoverable">
                    <a href="http://www.esteren.org/" class="bl portal-link">
                        <img class="center" src="{{ asset('img/agate/Esteren_monolith_o.jpg') }}" alt="Les Ombres d'Esteren">
                        <h3 class="center text-xxl">Les Ombres d'Esteren</h3>
                    </a>
                </div>
                <div class="col s12 m4 hoverable">
                    <a href="http://www.dragons-jdr.blogspot.fr/" class="bl portal-link">
                        <img class="center" src="{{ asset('img/agate/dragon_bg.jpg') }}" alt="Dragons">
                        <h3 class="center text-xxl">Dragons</h3>
                    </a>
                </div>
                <div class="col s12 m4 hoverable">
                    <a href="http://www.facebook.com/vampirelerequiem/" class="bl portal-link">
                        <img class="center" src="{{ asset('img/agate/Vampire_Requiem.jpg') }}" alt="Vampire : Le Requiem">
                        <h3 class="center text-xxl">Vampire&nbsp;: Le Requiem</h3>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4 offset-m1 hoverable">
                    <a href="http://www.facebook.com/7thSeaVF/" class="bl portal-link">
                        <img class="center" src="{{ asset('img/agate/Agate_7th_Sea.jpg') }}" alt="7th Sea">
                        <h3 class="center text-xxl">7th Sea</h3>
                    </a>
                </div>

                <div class="col s12 m4 offset-m1 hoverable">
                    <div class="bl portal-link">
                        <img class="center" src="{{ asset('img/agate/Vermine.jpg') }}" alt="Vermine">
                        <h3 class="center text-xxl">Vermine<br><small>(bientôt...😉)</small></h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6 offset-m3 hoverable">
                    <a href="http://agate-rpg.blogspot.fr/" class="bl portal-link">
                        <div class="portal_subtitle center" style="color: black;"><span class="fa fa-share-alt">&nbsp;</span></div>
                        <h3 class="center text-xxl">Retrouvez-nous également sur le blog du Studio Agate</h3>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6 offset-m3 hoverable">
                    <a href="{{ path('contact') }}" class="bl portal-link">
                        <div class="portal_subtitle center" style="color: black;"><span class="fa fa-envelope-o">&nbsp;</span></div>
                        <h3 class="center text-xxl">{{ 'footer.contact'|trans }}</h3>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="parallax"><img src="{{ asset('img/agate/esteren_dearg_front.jpg') }}" alt="Les Ombres d'Esteren : Arven en train de marcher"></div>
    </div>

    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center text-m">
                    <h2 id="decouvrir-esteren">Qui sommes-nous ?</h2>
                    <p class="left-align">
                        Notre studio est spécialisé dans le transmedia, l'écriture de scénarios et la création de mondes
                        imaginaires.
                        <br>
                        Nous produisons des livres de jeux de rôle, des albums de musique ou encore des jeux vidéos.
                        <br>
                        Nos créations cumulent une dizaine de prix à l’international.
                    </p>
                    <p class="left-align">
                        Nous traduisons et publions également des licences de grands jeux avec notre label d'édition
                        <strong>Agate RPG</strong>.
                    </p>
                    <p class="left-align">
                        Le studio est basé en France et se compose de plusieurs membres permanents (leur profil a une petite étoile) et de nombreux freelance partout dans le monde qui participent à nos projets.
                        <br>
                        Vous souhaitez envoyer votre candidature ou faire appel nos services ?
                        <a href="{{ path('contact') }}">Contactez-nous</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="parallax"><img src="{{ asset('img/Esteren_Arven_marche.jpg') }}" alt="Les Ombres d'Esteren : Arven en train de marcher"></div>
    </div>

    {% endspaceless %}

{% endblock %}
