{% trans_default_domain 'EsterenMaps' %}

{% if path|length %}
    <h3>{{ 'travel.itinerary' | trans }} :</h3>
    <p>
        <strong>{{ 'travel.distance' | trans }} :</strong> {{ total_distance | localizednumber }}km
        <br>
        <strong>{{ 'travel.duration_estimated' | trans }} :</strong> {{ 'travel.duration' | trans({'%days%': duration_real.days, '%hours%': duration_real.hours}) }}
    </p>
    <ul style="color: black;">
        {% for i, marker in path if marker.route %}
            <li>
                {% if marker.id == start.id %}
                    <strong>{{ 'travel.path.start' | trans }} :</strong>
                {% else %}
                    <strong>{{ 'travel.path.stop' | trans }} :</strong>
                {% endif %}
                {{ marker.name }}<br>
                <strong>{{ 'travel.path.route' | trans }} :</strong> {{ marker.route.name }}<br>
                <strong>{{ 'travel.distance' | trans }} :</strong> {{ marker.route.distance | localizednumber }}km
            </li>
        {% endfor %}

        <li>
            <strong>{{ 'travel.path.arrival' | trans }} :</strong>
            {{ end.name }}
        </li>
    </ul>
{% else %}
    <p class="alert alert-warning" style="color: darkred;">{{ 'travel.error.no_itinerary' | trans }}</p>
    <p><strong>{{ 'travel.path.start' | trans }} :</strong> {{ start.name }}</p>
    <p><strong>{{ 'travel.path.arrival' | trans }} :</strong> {{ end.name }}</p>
{% endif %}
