{% extends "CorahnRinAdminBundle:Admin:layout.html.twig" %}

{% block title %}{{ (title is defined) ? title : 'Ajouter un élément' | trans }} - {{ parent() }}{% endblock %}

{% block admin_content %}

    {% if breadcrumbs is not defined %}
        {% set breadcrumbs = {"Accueil":{"route":"corahnrin_pages_pages_index"}} %}
    {% endif %}

    <ol class="breadcrumb">
        {% for anchor,link in breadcrumbs %}
        <li><a href="{{ url(link.route, (link.params is defined) ? link.params :{}) }}">{{ anchor }}</a></li>
        {% endfor %}
    </ol>

    <h1>{{ (title is defined) ? title : 'Ajouter un élément' | trans }}</h1>

    {{ form(form) }}

{% endblock %}