{% extends "::layout.html.twig" %}

{% block title %}Liste des personnages - {{ parent() }}{% endblock %}

{% block content_for_layout %}

<h2>{{'Visualiser un personnage'}}</h2>

<table class="table table-condensed table-striped">
	<tr>
		<th>
            <a href="{{ url('corahnrin_characters_viewer_list',{'field':'id','order':orderlink}) }}" class="btn btn-link">
                {% if orderget == 'id' %}
                    <span class="glyphicon-half icon-chevron-{{ ordertype == 'asc' ? 'up' : 'down' }}"></span>
                    <strong class="text-underline text-black">
                {% endif %}
                    #
                {% if orderget == 'id' %}</strong>{% endif %}
            </a>
        </th>
		<th>
            <a href="{{ url('corahnrin_characters_viewer_list',{'field':'name','order':orderlink}) }}" class="btn btn-link">
                {% if orderget == 'name' %}
                    <span class="glyphicon-half icon-chevron-{{ ordertype == 'asc' ? 'up' : 'down' }}"></span>
                    <strong class="text-underline text-black">
                {% endif %}
                {{ 'Nom' | trans }}
                {% if orderget == 'name' %}</strong>{% endif %}
            </a>
        </th>
		<th>
            <a href="{{ url('corahnrin_characters_viewer_list',{'field':'job','order':orderlink}) }}" class="btn btn-link">
                {% if orderget == 'job' %}
                    <span class="glyphicon-half icon-chevron-{{ ordertype == 'asc' ? 'up' : 'down' }}"></span>
                    <strong class="text-underline text-black">
                {% endif %}
                {{ 'Métier' | trans }}
                {% if orderget == 'job' %}</strong>{% endif %}
            </a>
        </th>
		<th>
            <a href="{{ url('corahnrin_characters_viewer_list',{'field':'people','order':orderlink}) }}" class="btn btn-link">
                {% if orderget == 'people' %}
                    <span class="glyphicon-half icon-chevron-{{ ordertype == 'asc' ? 'up' : 'down' }}"></span>
                    <strong class="text-underline text-black">
                {% endif %}
                {{ 'Peuple' | trans }}
                {% if orderget == 'people' %}</strong>{% endif %}
            </a>
        </th>
		<th>
            <a href="{{ url('corahnrin_characters_viewer_list',{'field':'region','order':orderlink}) }}" class="btn btn-link">
                {% if orderget == 'region' %}
                    <span class="glyphicon-half icon-chevron-{{ ordertype == 'asc' ? 'up' : 'down' }}"></span>
                    <strong class="text-underline text-black">
                {% endif %}
                {{ 'Région de naissance' | trans }}
                {% if orderget == 'region' %}</strong>{% endif %}
            </a>
        </th>
	</tr>
	{% for character in list %}
		<tr>
			<td>{{ character.id }}</td>
			<td><a href="{{ url('corahnrin_characters_viewer_view', {'id':character.id,'nameSlug':character.nameSlug}) }}" class="btn btn-link btn-sm" title="{{ 'Voir le personnage %character_name%' | trans({'%character_name%':character.name}) }}">{{ character.name }}</a></td>
			<td>{{ character.job ? character.job.name : '(Personnalisé) '~character.jobCustom | trans}}</td>
			<td>{{ character.people.name | trans }}</td>
			<td>{{ character.region.name | trans }}</td>
		</tr>
	{% endfor %}
</table>

{% endblock %}
