{% extends "CorahnRinAdminBundle:Admin:layout.html.twig" %}

{% block title %}{{ 'Routes' | trans }} - {{ parent() }}{% endblock %}

{% block admin_content %}

<ol class="breadcrumb">
    <li><a href="{{ url('corahnrin_admin_admin_index') }}">{{ 'Accueil' | trans }}</a></li>
    <li><a href="{{ url('esterenmaps_maps_routes_adminlist') }}">{{ 'Routes' | trans }}</a></li>
</ol>

<h1>{{ 'Routes' | trans }}</h1>

<div class="navbar navbar-inverse">
    <div class="">
        <ul class="nav navbar-nav">
            <li><a href="{{ url('esterenmaps_maps_routes_add') }}">
                <span class="glyphicon icon-plus"></span>
                {{ 'Ajouter une route' | trans }}
            </a></li>
            <li><a href="{{ url('esterenmaps_maps_routes_addtype') }}">
                <span class="glyphicon icon-plus"></span>
                {{ 'Ajouter un Type de route' | trans }}
            </a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <h3>{{ 'Routes' | trans }}</h3>
        <table class="table table-condensed">
            <tr>
                <th>#</th>
                <th>{{ 'Nom' | trans }}</th>
                <th>{{ 'Type' | trans }}</th>
                <th>{{ 'Faction' | trans }}</th>
                <th>{{ 'Actions' | trans }}</th>
            </tr>
            {% for route in routes %}
            <tr>
                <td>{{ route.id }}</td>
                <td><strong>{{ route.name }}</strong></td>
                <td>{{ route.routeType.name }}</td>
                <td>{{ route.faction.name is defined ? route.faction.name : ' - ' }}</td>
                <td>
                    <a href="{{ url('esterenmaps_maps_routes_edit', {'id':route.id}) }}" class="btn btn-sm btn-inverse">{{ 'Éditer' | trans }}</a>
                    {% if is_granted('ROLE_ADMIN_MAPS_SUPER') %}
                        <a href="{{ url('esterenmaps_maps_routes_delete', {'id':route.id}) }}" class="btn btn-sm btn-danger">{{ 'Supprimer' | trans }}</a>
                    {% endif %}
                </td>
            </tr>
            {% else %}
            <tr><td colspan="5">{{ 'Aucun élément' | trans }}</td></tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-sm-6">
        <h3>{{ 'Types de routes' | trans }}</h3>
        <table class="table table-condensed">
            <tr>
                <th>#</th>
                <th>{{ 'Nom' | trans }}</th>
                <th>{{ 'Actions' | trans }}</th>
            </tr>
            {% for routeType in routesTypes %}
            <tr>
                <td>{{ routeType.id }}</td>
                <td><strong>{{ routeType.name }}</strong></td>
                <td>
                    <a href="{{ url('esterenmaps_maps_routes_edittype', {'id':routeType.id}) }}" class="btn btn-sm btn-inverse">{{ 'Éditer' | trans }}</a>
                    {% if is_granted('ROLE_ADMIN_MAPS_SUPER') %}
                        <a href="{{ url('esterenmaps_maps_routes_deletetype', {'id':routeType.id}) }}" class="btn btn-sm btn-danger">{{ 'Supprimer' | trans }}</a>
                    {% endif %}
                </td>
            </tr>
            {% else %}
            <tr><td colspan="5">{{ 'Aucun élément' | trans }}</td></tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}