{% extends '@Agate/agate-layout.html.twig' %}

{% trans_default_domain 'AgateBundle' %}

{% macro teamMember(name, length, index) %}
    {% set grid_class -%}
        m4 {% if length == 2 and index == 0 -%}
            offset-m2
        {%- elseif length == 1 and index == 0 -%}
            offset-m4
        {%- endif -%}
    {%- endset %}
    <div class="col {{ grid_class }}">
        {% set fullName = ('team.members.'~(name|lower)~'.name')|trans %}
        <div class="card-panel team-member">
            {# Images are stored in AgateBundle/Resources/assets/team/ #}
            <img src="{{ asset('img/agate/team/'~name~'.jpg') }}" alt="{{ fullName }}" class="circle">
            <h3 class="text-l">
                {{ fullName }}
            </h3>
            <p class="text-xs">{{ ('team.members.'~(name|lower)~'.details')|trans|raw }}</p>
        </div>
    </div>
{% endmacro %}

{% import _self as macros %}

{% block content_for_layout %}
    {% spaceless %}

        <div class="parallax-container valign-wrapper">
            <div class="section no-pad-bot">
                <div class="container">
                    <h1 class="header center white-text text-shadow-black-10">{{ 'team.main_title'|trans }}</h1>
                </div>
            </div>
            <div class="parallax">
                <img src="{{ asset('img/agate/Esteren_Crew.jpg') }}" alt="Équipe des Ombres d'Esteren">
            </div>
        </div>

        <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col s12 center text-m">
                        <h2 class="text-xl">{{ 'team.permanent_members'|trans }}</h2>
                        {% set teamMembers = [
                            'asami',
                            'clovis',
                            'gawain',
                            'iris',
                            'nel',
                            'pierstoval'
                        ] %}

                        {% for members in teamMembers|batch(3) %}
                            <div class="row">
                                {% set length = members|length %}
                                {% for name in members %}
                                    {{ macros.teamMember(name, length, loop.index0) }}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col s12 center text-m">
                        <h2 class="text-l">{{ 'team.friends_text'|trans }}</h2>
                        {% set teamMembers = [
                            'dominique_atlan',
                            'ben',
                            'julien_blondel',
                            'david_camus',
                            'chane',
                            'sebastien_chedal',
                            'chris',
                            'dref',
                            'ginl',
                            'nico_jamme',
                            'lison',
                            'clarisse_may',
                            'francois_rousselot',
                            'akae',
                            'valentin'
                        ] %}

                        {% for members in teamMembers|batch(3) %}
                            <div class="row">
                                {% set length = members|length %}
                                {% for name in members %}
                                    {{ macros.teamMember(name, length, loop.index0) }}
                                {% endfor %}
                            </div>
                        {% endfor %}

                        <div class="card green lighten-5">
                            <div class="card-content text-xs">
                                {{ 'team.friends_thanks'|trans|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}
