{% extends "PierstovalAdminBundle:Admin:layout.html.twig" %}

{% block title %}{{ 'Métiers' | trans }} - {{ parent() }}{% endblock %}

{% block admin_content %}

<ol class="breadcrumb">
    <li><a href="{{ url('pierstoval_admin_admin_index') }}">{{ 'Accueil' | trans }}</a></li>
    <li><a href="{{ url('corahnrin_admin_jobs_adminlist') }}">{{ 'Métiers' | trans }}</a></li>
</ol>

<h1>{{ 'Métiers' | trans }}</h1>

{% if is_granted('ROLE_ADMIN_GENERATOR_SUPER') %}
    <div class="navbar navbar-inverse">
        <div class="">
            <ul class="nav navbar-nav">
                <li><a href="{{ url('corahnrin_admin_jobs_add') }}">
                    <span class="glyphicon icon-plus"></span>
                    {{ 'Ajouter un métier' | trans }}
                </a></li>
            </ul>
        </div>
    </div>
{% endif %}

<table class="table table-condensed">
    <tr>
        <th>#</th>
        <th>{{ 'Nom' | trans }}</th>
        <th>{{ 'Description' | trans }}</th>
        <th>{{ 'Livre' | trans }}</th>
        <th>{{ 'Actions' | trans }}</th>
    </tr>
    {% for job_list in jobs %}
    <tr><td colspan="5"><h3>{{ job_list.0.book.name | trans }}</h3></td></tr>
        {% for job in job_list %}
            <tr>
                <td>{{ job.id }}</td>
                <td class="w180">{{ job.name }}</td>
                <td><small>{{ job.description | slice(0,125) | raw }}{{ job.description|length > 125 ? '(...)' : '' }}</small></td>
                <td class="w180">{{ job.book.name is defined ? job.book.name : ' - ' }}</td>
                <td class="w100">
                    <a href="{{ url('corahnrin_admin_jobs_edit', {'id':job.id}) }}" class="btn btn-block btn-sm btn-inverse">{{ 'Éditer' | trans }}</a>
                    {% if is_granted('ROLE_ADMIN_GENERATOR_SUPER') %}
                    <a href="{{ url('corahnrin_admin_jobs_delete', {'id':job.id}) }}" class="btn btn-block btn-sm btn-danger">{{ 'Supprimer' | trans }}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% else %}
    <tr><td colspan="5">{{ 'Aucun élément' | trans }}</td></tr>
    {% endfor %}
</table>

{% endblock %}