{% extends '@Agate/agate-layout.html.twig' %}

{% trans_default_domain 'AgateBundle' %}

{% block stylesheets -%}
    {{- block('stylesheets', 'base_materialize.html.twig') -}}
    <link rel="stylesheet" href="{{ asset('css/agate.css') }}" type="text/css">
{%- endblock %}

{% block menus '' %}
{% block footer '' %}

{% block content_for_layout %}
    <div class="container">
        <div id="vermine_container" class="center">
            <section>
                <img src="{{ asset('img/agate/vermine/Vermine2047-home.jpg') }}" alt="Vermine 2047">
                <article>
                    <div id="mc_embed_signup">
                        <aside class="aside-left">
                            <a href="{{ path('agate_portal_home') }}">
                                <img src="{{ asset('img/agate/logo_agate_studio_big.png') }}" alt="Studio Agate">
                            </a>
                        </aside>
                        <aside class="aside-right">
                            <a href="https://www.facebook.com/Vermine2047/">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </aside>
                        <form action="//blogspot.us2.list-manage.com/subscribe/post?u=1f25b5ee4d564e9985f24ea9e&amp;id=28bf314581" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                            <div id="mc_embed_signup_scroll">
                                <label for="mce-EMAIL" class="text-m">{{ 'vermine.subscribe_label'|trans }}</label>
                                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="{{ 'form.email'|trans({}, 'UserBundle') }}" required>
                                {# real people should not fill this in and expect good things - do not remove this or risk form bot signups #}
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1f25b5ee4d564e9985f24ea9e_28bf314581" tabindex="-1" value=""></div>
                                <div class="clear">
                                    <input type="submit" value="{{ 'vermine.subscribe_button'|trans }}" name="subscribe" id="mc-embedded-subscribe" class="button">
                                </div>
                            </div>
                        </form>
                    </div>
                </article>
            </section>
        </div>
        <footer class="center grey-text">
            {{ 'footer.full_text'|trans({
                '%year%': 'now'|date('Y'),
                '%more%': 'vermine.footer_message'|trans({}, 'AgateBundle'),
            }, 'messages')|raw }}
        </footer>
    </div>

{% endblock %}
