{% extends "@User/layout.html.twig" %}

{% trans_default_domain 'UserBundle' %}

{% block content_for_layout %}

    {{ form_start(form, {'method': 'post', 'action': path('user_register'), 'attr': {'id': 'form_login', 'class': 'user_registration_register'}}) }}

    <h2>{{ 'layout.register' | trans }}</h2>

    {{ form_widget(form) }}

    <div class="checkbox">
        <label for="remember_me">
            <input type="checkbox" value="on" />
            {{ 'register_optin'|trans({}, 'messages')|raw}}
        </label>
    </div>

    <div>
        <input class="btn btn-default" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>

    {{ form_end(form) }}

{% endblock content_for_layout %}
