{% trans_default_domain 'corahn_rin' %}

<div class="main row">
    <h2>{{ 'character.domains'|trans }}</h2>
    {% for domains in character.domains.toArray(character)|batch(4) %}
        <div class="row">
            {% for domain_name, score in domains %}
                {% set char_domain = get_domain_as_object(domain_name) %}
                {% set way = char_domain.way %}
                {% set way_score = character.getWay(way) %}
                {% set way_small_text %}<small>({{ way|trans }})</small> {{ way_score }}{% endset %}
                <div class="col s3">
                    <h3>
                        {{ domain_name | trans }}
                    </h3>
                    <p class="text-xl">
                        {%- for i in 1..5 -%}
                        {%- if score.base >= i %}●{% else %}<span class="grey-text text-darken-2">o</span>{% endif -%}
                        {%- endfor %}&nbsp;&plus;&nbsp;{{ way_small_text }}
                        &equals;&nbsp;<span class="right text-m">{{ score.total }}</span>
                    </p>

                    {% set disciplines = character.disciplineFromDomain(domain_name) %}
                    {% if disciplines|length %}
                        <h4>{{ 'character.disciplines'|trans }}&nbsp;:</h4>
                    {% endif %}
                    {% for charDiscipline in disciplines %}
                        <h5>
                            {{ charDiscipline.discipline.name }}
                            <span class="right">
                                {{ charDiscipline.score }}&nbsp;&plus;&nbsp;{{ way_small_text }}&nbsp;&equals;
                                <span class="text-l">{{ charDiscipline.score + way_score }}</span>
                            </span>
                        </h5>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
