{% trans_default_domain 'corahn_rin' %}

<div class="main row">
    <h2>{{ 'character.domains'|trans }}</h2>
    {% for domains in character.domains|batch(4) %}
        <div class="row">
            {% for charDomain in domains %}
                {% set wayScore = character.way(charDomain.domain.way.id).score %}
                {% set waySmallText %}<small>({{ charDomain.domain.way.shortName|capitalize }})</small> {{ wayScore }}{% endset %}
                <div class="col s3">
                    <h3>
                        {{ charDomain.domain.name }}
                    </h3>
                    <p class="text-xl">
                        {%- for i in 1..5 -%}
                        {%- if charDomain.score >= i %}●{% else %}<span class="grey-text text-darken-2">o</span>{% endif -%}
                        {%- endfor %}&nbsp;&plus;&nbsp;{{ waySmallText }}
                        &equals;&nbsp;<span class="right text-m">{{ charDomain.totalScore }}</span>
                    </p>

                    {% set disciplines = character.disciplineFromDomain(charDomain.domain) %}
                    {% if disciplines|length %}
                        <h4>{{ 'character.disciplines'|trans }}&nbsp;:</h4>
                    {% endif %}
                    {% for charDiscipline in disciplines %}
                        <h5>
                            {{ charDiscipline.discipline.name }}
                            <span class="right">
                                {{ charDiscipline.score }}&nbsp;&plus;&nbsp;{{ waySmallText }}&nbsp;&equals;
                                <span class="text-l">{{ charDiscipline.score + wayScore }}</span>
                            </span>
                        </h5>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
