{{ translateRoute('corahnrin_pages_menu_menu') }}
		<div class="navbar navbar-default" id="navigation">
			<div class="navbar-header">
				<button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="{{ path(brandRoute) }}" class="navbar-brand">{{ brandTitle }}</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					{% for path,link in links %}
                        {% if 'dropdown_list_' in path %}
                            <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ link.name | tr }} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    {% for id, el in link.list %}
                                        <li><a href="{{ path(el.route, el.attributes) }}">{{ el.name }}</a></li>
                                    {% else %}
                                        <li>{{ 'Aucun élément' | tr }}...</li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{{ path(path) }}">{{ link | tr }}</a></li>
                        {% endif %}

					{% else %}{{ 'Aucun élément' | tr }}{% endfor %}
					{#<li class="dropdown">
					<a data-toggle="dropdown" class="dropdown-toggle" href="#">Menu déroulant <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li class="divider"></li>
						<li class="dropdown-header">Nav header</li>
						<li><a href="#">Separated lien</a></li>
						<li><a href="#">One more separated lien</a></li>
					</ul>
					</li>#}

				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ 'Changer la langue %lang%' | tr({'%lang%' : '['~locale|upper~']'}) }} <b class="caret"></b></a>
					<ul class="dropdown-menu">
                        {% for lang,literal in langs %}
                            {% if lang == locale %}
                                <li class="active">
                                    <a>{{ literal | tr }}</a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{ path('corahnrin_translate_translate_changelang', {'lang':lang}) }}">{{ literal | tr }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
					</ul>
					</li>
					{% if app.user.username is not defined %}<li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login' | trans({},'FOSUserBundle') }}</a></li>
					{% else %}
						<li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout' | trans({},'FOSUserBundle') }} [ {{ app.user.username }} ]</a></li>
						{#<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li><a href="#">Separated lien</a></li>
						</ul>
						</li>#}
					{% endif %}

				</ul>
			</div>
			<!--/.nav-collapse -->
		</div><!--/.navbar.navbar-default-->
{{ translateRoute() }}