{% extends "PierstovalAdminBundle:Admin:layout.html.twig" %}

{% block title %}{{ 'Flux' | trans }} - {{ parent() }}{% endblock %}

{% block admin_content %}

<ol class="breadcrumb">
    <li><a href="{{ url('pierstoval_admin_admin_index') }}">{{ 'Accueil' | trans }}</a></li>
    <li><a href="{{ url('corahnrin_admin_flux_adminlist') }}">{{ 'Flux' | trans }}</a></li>
</ol>

<h1>{{ 'Flux' | trans }}</h1>

{% if is_granted('ROLE_ADMIN_GENERATOR_SUPER') %}
    <div class="navbar navbar-inverse">
        <div class="">
            <ul class="nav navbar-nav">
                <li><a href="{{ url('corahnrin_admin_flux_add') }}">
                    <span class="glyphicon icon-plus"></span>
                    {{ 'Ajouter un  flux' | trans }}
                </a></li>
            </ul>
        </div>
    </div>
{% endif %}

<table class="table table-condensed">
    <tr>
        <th class="mw50">#</th>
        <th>{{ 'Nom' | trans }}</th>
        <th>{{ 'Description' | trans }}</th>
        <th class="w150">{{ 'Actions' | trans }}</th>
    </tr>
    {% for flux in flux_list %}
    <tr>
        <td>{{ flux.id }}</td>
        <td>{{ flux.name }}</td>
        <td>{{ flux.description }}</td>
        <td>
            <a href="{{ url('corahnrin_admin_flux_edit', {'id':flux.id}) }}" class="btn btn-sm btn-inverse">{{ 'Éditer' | trans }}</a>
            {% if is_granted('ROLE_ADMIN_GENERATOR_SUPER') %}
            <a href="{{ url('corahnrin_admin_flux_delete', {'id':flux.id}) }}" class="btn btn-sm btn-danger">{{ 'Supprimer' | trans }}</a>
            {% endif %}
        </td>
    </tr>
    {% else %}
    <tr><td colspan="5">{{ 'Aucun élément' | trans }}</td></tr>
    {% endfor %}
</table>

{% endblock %}