{% extends "CorahnRinAdminBundle:Admin:layout.html.twig" %}

{% block title %}{{ 'Liste des cartes' | trans }} - {{ parent() }}{% endblock %}

{% block admin_content %}

<ol class="breadcrumb">
    <li><a href="{{ url('corahnrin_admin_admin_index') }}">{{ 'Accueil' | trans }}</a></li>
    <li><a href="{{ url('esterenmaps_maps_maps_adminlist') }}">{{ 'Cartes' | trans }}</a></li>
</ol>

<h1>{{ 'Cartes' | trans }}</h1>

<div class="navbar navbar-inverse">
    <div class="">
        <ul class="nav navbar-nav">
            <li><a href="{{ url('esterenmaps_maps_maps_add') }}">
                <span class="glyphicon icon-plus"></span>
                {{ 'Ajouter une carte' | trans }}
            </a></li>
        </ul>
    </div>
</div>

<table class="table table-condensed">
    <tr>
        <th>#</th>
        <th>{{ 'Nom' | trans }}</th>
        <th>{{ 'Description' | trans }}</th>
        <th>{{ 'Zoom maximum' | trans }}</th>
        <th class="w240">{{ 'Actions' | trans }}</th>
    </tr>
    {% for map in maps %}
    <tr>
        <td>{{ map.id }}</td>
        <td><strong>{{ map.name }}</strong></td>
        <td>{{ map.description }}</td>
        <td>{{ map.maxZoom }}</td>
        <td>
            <a href="{{ url('esterenmaps_maps_maps_view', {'id':map.id, 'nameSlug':map.nameSlug}) }}" class="btn btn-sm btn-inverse">{{ 'Voir la carte' | trans }}</a>
            {% if is_granted('ROLE_ADMIN_MAPS') %}
            <a href="{{ url('esterenmaps_maps_maps_editparams', {'id':map.id}) }}" class="btn btn-sm btn-inverse">{{ 'Éditer les paramètres' | trans }}</a>
            <a href="{{ url('esterenmaps_maps_maps_edit', {'id':map.id}) }}" class="btn btn-sm btn-inverse">{{ 'Éditer le contenu' | trans }}</a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN_MAPS_SUPER') %}
                <a href="{{ url('esterenmaps_maps_maps_delete', {'id':map.id}) }}" class="btn btn-sm btn-danger">{{ 'Supprimer' | trans }}</a>
            {% endif %}
        </td>
    </tr>
    {% else %}
    <tr><td colspan="4">{{ 'Aucun élément' | trans }}</td></tr>
    {% endfor %}
</table>

{% endblock %}