<div id="map_edit_menu">

    <ul class="list-inline">
        <li data-toggle="tooltip" title="{{ 'Terminer l\'édition' | trans }}"><button class="btn btn-success" type="submit"><span class="glyphicon icon-ok_2"></span> {{ 'Terminer l\'édition' | trans }}</button></li>
        <li data-toggle="tooltip" title="{{ 'Masquer les zones' | trans }}"><button data-toggle-class="btn-default btn-inverse" id="hide_zones" class="btn btn-default" type="button"><span class="glyphicon icon-vector_path_polygon"></span></button></li>
        <li data-toggle="tooltip" title="{{ 'Masquer les routes' | trans }}"><button data-toggle-class="btn-default btn-inverse" id="hide_routes" class="btn btn-default" type="button"><span class="glyphicon icon-vector_path_line"></span></button></li>
        <li data-toggle="tooltip" title="{{ 'Masquer les marqueurs' | trans }}"><button data-toggle-class="btn-default btn-inverse" id="hide_markers" class="btn btn-default" type="button"> <span class="glyphicon icon-pin"></span></button></li>
        {#<li data-toggle="tooltip" title="{{ 'Désactiver le mouvement' | trans }}"><button class="btn btn-inverse" type="button" id="map_dont_move" data-map-container="map_container"><span class="glyphicon icon-move text-success"></span></button></li>#}
        {#<li data-toggle="tooltip" title="{{ 'Désactiver le magnétisme' | trans }}"><button class="btn btn-inverse" type="button" id="map_stop_magnetism" data-toggle="button"><span class="glyphicon icon-magnet"></span></button></li>#}
    </ul>

</div>