{% extends "::base.html.twig" %}


{% block stylesheets %}
{{ parent() }}
<style type="text/css" id="map_add_style"></style>
{% endblock %}

{% block title %}{{ 'Modifier une carte' | trans({},'pages.titles') }} {{ map.name | trans }} - {{ parent() }}{% endblock %}

{% trans_default_domain 'admin.maps.edit' %}

{% block content_for_layout %}

<form id="map_edit_form" action="{{ url('esterenmaps_maps_maps_edit', {'id':map.id}) }}" method="post" class="form-horizontal">
    <fieldset>
        <div>
            {% include 'EsterenMapsBundle:Maps:edit_menu.html.twig' %}
        </div>
        <div id="sidebar"></div>
        <div id="map"></div>
        <div id="inputs_container"></div>
    </fieldset>
</form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('js/maps_lib.js', null, true) }}"></script>

    {% javascripts
    '@EsterenMapsBundle/Resources/public/js/map_edit.js'
    output="js/map_edit_more.js"
    filter=""
    %}<script type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() ~ asset_url }}"></script>{% endjavascripts %}

    <script type="text/javascript">
        (function(){
            try {
                document.map = new EsterenMap({
                    id: {{ map.id }},
                    editMode: true,
                    imgUrl: "{{ asset('bundles/esterenmaps/img') }}",
                    apiUrls: {
                        base: "{{ url('pierstoval_api_api_get', {'serviceName':'maps','id':map.id}) }}",
                        settings: "{{ url('esterenmaps_api_maps_settings_distant', {"id":map.id}) }}",
                        tiles: "{{ app.request.getSchemeAndHttpHost() ~ asset('maps_tiles/1/{z}/{y}/{x}.jpg') }}"
                    },
                    LeafletMapBaseOptions: {
                        maxZoom: {{ map.maxZoom }}
                    },
                    LeafletLayerBaseOptions: {
                        maxZoom: {{ map.maxZoom }},
                        maxNativeZoom: {{ map.maxZoom }},
                        tileSize: {{ tile_size }},
                        noWrap: false,
                        continuousWorld: true
                    }
                });
            } catch (e) {
                console.error(e);
            }
        })();
    </script>

{% endblock %}