{% extends "::base.html.twig" %}

{% block title %}{{ 'Liste des cartes' | trans }} - {{ parent() }}{% endblock %}

{% block content_for_layout %}
    <h1>{{ 'Liste des cartes' | trans }}</h1>

    <section class="row maps-list">
    {% for map in list %}
        <article class="col-sm-4">
            <header><h2>{{ map.name }}</h2></header>
            <p>{{ map.description }}</p>
            <footer>
                <a href="{{ url('esterenmaps_maps_maps_view', {'nameSlug':map.nameSlug}) }}" title="{{ 'Voir la carte' | trans }} : {{ map.name | trans }}" class="btn btn-default"><i class="fa fa-eye"></i> {{ 'Voir la carte' | trans }}</a>
            </footer>
        </article>
        {% else %}
        <p class="alert alert-warning">{{ 'Aucun élément' | trans }}</p>
    {% endfor %}
    </section>
{% endblock %}
