{% extends "::base.html.twig" %}

{% block title %}{{ 'Carte' | trans }} {{ map.name | trans }} - {{ parent() }}{% endblock %}

{% block content_for_layout %}

<div id="map_wrapper">
    <div id="sidebar"></div>
    <div id="map"></div>
    <div id="inputs_container"></div>
</div>

{% endblock %}

{% block more_javascripts %}
    {{ parent() }}
    {% javascripts
    '@EsterenMapsBundle/Resources/public/js/leaflet-src.js'
    '@EsterenMapsBundle/Resources/public/js/leaflet.sidebar-src.js'
    '@EsterenMapsBundle/Resources/public/js/leaflet.draw-src.js'
    '@EsterenMapsBundle/Resources/public/js/EsterenMap/1_EsterenMap.js'
    '@EsterenMapsBundle/Resources/public/js/EsterenMap/2_LeafletDrawOverrides.js'
    '@EsterenMapsBundle/Resources/public/js/EsterenMap/3_EsterenMap_ActivateLeafletDraw.js'
    '@EsterenMapsBundle/Resources/public/js/EsterenMap/3_EsterenMap_options.js'
    '@EsterenMapsBundle/Resources/public/js/EsterenMap/4_EsterenMap_addMarker.js'
    '@EsterenMapsBundle/Resources/public/js/EsterenMap/4_EsterenMap_addPolyline.js'
    '@EsterenMapsBundle/Resources/public/js/EsterenMap/4_EsterenMap_addPolygon.js'
    '@EsterenMapsBundle/Resources/public/js/EsterenMap/4_EsterenMap_filters.js'
    output="js/maps.js"
    filter="?uglifyjs"
    %}<script type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() ~ asset_url }}"></script>{% endjavascripts %}

    <script type="text/javascript">
        (function(){
            try {
                document.map = new EsterenMap({
                    id: {{ map.id }},
                    imgUrl: "{{ asset('bundles/esterenmaps/img') }}",
                    apiUrls: {
                        base: "http://{{ esteren_domains_api }}/{{ app.request.locale }}",
                        settings: "{{ url('esterenmaps_api_maps_settings_distant', {"id":map.id}) }}",
                        tiles: "http://{{ esteren_domains_api }}{{ asset('maps_tiles/'~map.id~'/{z}/{y}/{x}.jpg') }}"
                    },
                    LeafletMapBaseOptions: {
                        maxZoom: {{ map.maxZoom }}
                    },
                    LeafletLayerBaseOptions: {
                        maxZoom: {{ map.maxZoom }},
                        maxNativeZoom: {{ map.maxZoom }},
                        tileSize: {{ tile_size }},
                        noWrap: false,
                        continuousWorld: true
                    }
                });
            } catch (e) {
                console.error(e);
            }
        })();
    </script>
{% endblock %}