{% extends "::base.html.twig" %}

{% block title %}{{ 'Carte' | trans }} {{ map.name | trans }} - {{ parent() }}{% endblock %}

{% block content_for_layout %}

<div id="map_wrapper">
    <div id="esterenmap_sidebar"></div>
    <div id="map"></div>
    <div id="inputs_container"></div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/maps_lib.js') }}"></script>

    <script type="text/javascript">
        (function(d){
            try {
                d.map = new EsterenMap({
                    id: {{ map.id }},
                    imgUrl: "",
                    apiUrls: {
                        base: "http://{{ esteren_domains_api }}/{{ app.request.locale }}",
                        settings: "{{ url('esterenmaps_api_maps_settings_distant', {"id":map.id}) }}",
                        tiles: "http://{{ esteren_domains_api }}{{ asset('maps_tiles/'~map.id~'/{z}/{y}/{x}.jpg') }}"
                    },
                    LeafletMapBaseOptions: {
                        zoom: {{ map.startZoom }},
                        maxZoom: {{ map.maxZoom }}
                        {% if map.jsonBounds|length %},
                        maxBounds: {{ map.bounds|raw }}
                        {% endif %}
                    },
                    LeafletLayerBaseOptions: {
                        maxZoom: {{ map.maxZoom }},
                        maxNativeZoom: {{ map.maxZoom }},
                        tileSize: {{ tile_size }},
                        noWrap: false
                        {% if map.jsonBounds|length %},
                        bounds: {{ map.bounds|raw }}
                        {% endif %}
                    }
                });
            } catch (e) {
                console.error(e);
            }
        })(document);
    </script>
{% endblock %}