{% extends "::base.html.twig" %}

{% block title %}{{ 'Carte' | trans }} {{ map.name | trans }} - {{ parent() }}{% endblock %}

{% block content_for_layout %}

<div id="map_wrapper">
    <div id="sidebar"></div>
    <div id="map"></div>
    <div id="inputs_container"></div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@esteren_maps_js' output="js/maps.js" %}<script type="text/javascript" src="{{ asset(asset_url, null, true) }}"></script>{% endjavascripts %}

    <script type="text/javascript">
        (function(d){
            try {
                d.map = new EsterenMap({
                    id: {{ map.id }},
                    imgUrl: "{{ asset('bundles/esterenmaps/img') }}",
                    apiUrls: {
                        base: "http://{{ esteren_domains_api }}/{{ app.request.locale }}",
                        settings: "{{ url('esterenmaps_api_maps_settings_distant', {"id":map.id}) }}",
                        tiles: "http://{{ esteren_domains_api }}{{ asset('maps_tiles/'~map.id~'/{z}/{y}/{x}.jpg') }}"
                    },
                    LeafletMapBaseOptions: {
                        zoom: {{ map.startZoom }},
                        center: [{{ map.startX }}, {{ map.startY }}],
                        maxZoom: {{ map.maxZoom }}
                    },
                    LeafletLayerBaseOptions: {
                        maxZoom: {{ map.maxZoom }},
                        maxNativeZoom: {{ map.maxZoom }},
                        tileSize: {{ tile_size }},
                        noWrap: false,
                        continuousWorld: true
                    }
                });
            } catch (e) {
                console.error(e);
            }
        })(document);
    </script>
{% endblock %}