{% extends "PierstovalAdminBundle:Admin:layout.html.twig" %}

{% block title %}{{ 'Avantages' | trans }} / {{ 'Désavantages' | trans }} - {{ parent() }}{% endblock %}

{% block admin_content %}

<ol class="breadcrumb">
    <li><a href="{{ url('pierstoval_admin_admin_index') }}">{{ 'Accueil' | trans }}</a></li>
    <li><a href="{{ url('corahnrin_admin_avantages_adminlist') }}">{{ 'Avantages' | trans }} / {{ 'Désavantages' | trans }}</a></li>
</ol>

<h1>{{ 'Avantages' | trans }} / {{ 'Désavantages' | trans }}</h1>

{% if is_granted('ROLE_ADMIN_GENERATOR_SUPER') %}
    <div class="navbar navbar-inverse">
        <div class="">
            <ul class="nav navbar-nav">
                <li><a href="{{ url('corahnrin_admin_avantages_add') }}">
                    <span class="glyphicon icon-plus"></span>
                    {{ 'Ajouter un avantage ou désavantage' | trans }}
                </a></li>
            </ul>
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="col-sm-6">
        <h2>{{ 'Avantages' | trans }}</h2>
        <table class="table table-condensed">
            <tr>
                <th class="mw50">#</th>
                <th>{{ 'Nom' | trans }}</th>
                <th class="w150">{{ 'Actions' | trans }}</th>
            </tr>
            {% for advantage in advantages %}
            <tr>
                <td>{{ advantage.id }}</td>
                <td class="w215"><strong>{{ advantage.name }}</strong></td>
                <td>
                    <a href="{{ url('corahnrin_admin_avantages_edit', {'id':advantage.id}) }}" class="btn btn-sm btn-inverse">{{ 'Éditer' | trans }}</a>
                    {% if is_granted('ROLE_ADMIN_GENERATOR_SUPER') %}
                    <a href="{{ url('corahnrin_admin_avantages_delete', {'id':advantage.id}) }}" class="btn btn-sm btn-danger">{{ 'Supprimer' | trans }}</a>
                    {% endif %}
                </td>
            </tr>
            {% else %}
            <tr><td colspan="3">{{ 'Aucun élément' | trans }}</td></tr>
            {% endfor %}
        </table>
    </div>

    <div class="col-sm-6">
        <h2>{{ 'Désavantages' | trans }}</h2>
        <table class="table table-condensed">
            <tr>
                <th class="mw50">#</th>
                <th>{{ 'Nom' | trans }}</th>
                <th class="w150">{{ 'Actions' | trans }}</th>
            </tr>
            {% for disadvantage in disadvantages %}
            <tr>
                <td>{{ disadvantage.id }}</td>
                <td class="w215"><strong>{{ disadvantage.name }}</strong></td>
                <td>
                    <a href="{{ url('corahnrin_admin_avantages_edit', {'id':disadvantage.id}) }}" class="btn btn-sm btn-inverse">{{ 'Éditer' | trans }}</a>
                    {% if is_granted('ROLE_ADMIN_GENERATOR_SUPER') %}
                    <a href="{{ url('corahnrin_admin_avantages_delete', {'id':disadvantage.id}) }}" class="btn btn-sm btn-danger">{{ 'Supprimer' | trans }}</a>
                    {% endif %}
                </td>
            </tr>
            {% else %}
            <tr><td colspan="3">{{ 'Aucun élément' | trans }}</td></tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}