{% extends "CorahnRinAdminBundle:Admin:layout.html.twig" %}

{% block title %}{{ 'Peuples' | trans }} - {{ parent() }}{% endblock %}

{% block admin_content %}

<ol class="breadcrumb">
    <li><a href="{{ url('corahnrin_admin_admin_index') }}">{{ 'Accueil' | trans }}</a></li>
    <li><a href="{{ url('corahnrin_characters_peoples_adminlist') }}">{{ 'Peuples' | trans }}</a></li>
</ol>

<h1>{{ 'Peuples' | trans }}</h1>

{% if is_granted('ROLE_ADMIN_GENERATOR_SUPER') %}
    <div class="navbar navbar-inverse">
        <div class="">
            <ul class="nav navbar-nav">
                <li><a href="{{ url('corahnrin_characters_peoples_add') }}">
                    <span class="glyphicon icon-plus"></span>
                    {{ 'Ajouter un peuple' | trans }}
                </a></li>
            </ul>
        </div>
    </div>
{% endif %}

<table class="table table-condensed">
    <tr>
        <th>#</th>
        <th>{{ 'Nom' | trans }}</th>
        <th>{{ 'Description' | trans }}</th>
        <th>{{ 'Livre' | trans }}</th>
        <th>{{ 'Actions' | trans }}</th>
    </tr>
    {% for people in peoples %}
    <tr>
        <td>{{ people.id }}</td>
        <td class="w100">{{ people.name }}</td>
        <td>{{ people.description | slice(0,125) | raw }}{{ people.description | length > 125 ? '(...)' : '' }}</td>
        <td class="w180">{{ people.book.name is defined ? people.book.name : ' - ' }}</td>
        <td>
            <a href="{{ url('corahnrin_characters_peoples_edit', {'id':people.id}) }}" class="btn btn-sm btn-inverse">{{ 'Éditer' | trans }}</a>
            {% if is_granted('ROLE_ADMIN_GENERATOR_SUPER') %}
            <a href="{{ url('corahnrin_characters_peoples_delete', {'id':people.id}) }}" class="btn btn-sm btn-danger">{{ 'Supprimer' | trans }}</a>
            {% endif %}
        </td>
    </tr>
    {% else %}
    <tr><td colspan="5">{{ 'Aucun élément' | trans }}</td></tr>
    {% endfor %}
</table>

{% endblock %}