{% extends "EasyAdminBundle::layout.html.twig" %}
{% trans_default_domain 'admin.maps.edit' %}

{% block head_stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/global.css', null, true) }}" type="text/css" />
<style type="text/css" id="map_add_style"></style>
{% endblock %}

{% block title %}{{ 'Modifier une carte' | trans({},'pages.titles') }} {{ map.name | trans }} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="row">
        <div id="content-header" class="col-sm-12">
            {% block content_header %}{% endblock %}
        </div>

        <div id="main" class="col-sm-12">
            <div id="map_wrapper">
                <div id="maps_admin_container">
                    <div id="map_edit_menu">

                        <ul class="list-inline">
                            <li data-toggle="tooltip" title="{{ 'Masquer les zones' | trans }}"><button data-toggle-class="btn-default btn-inverse" id="hide_zones" class="btn btn-default" type="button"><span class="glyphicon icon-vector_path_polygon"></span></button></li>
                            <li data-toggle="tooltip" title="{{ 'Masquer les routes' | trans }}"><button data-toggle-class="btn-default btn-inverse" id="hide_routes" class="btn btn-default" type="button"><span class="glyphicon icon-vector_path_line"></span></button></li>
                            <li data-toggle="tooltip" title="{{ 'Masquer les marqueurs' | trans }}"><button data-toggle-class="btn-default btn-inverse" id="hide_markers" class="btn btn-default" type="button"> <span class="glyphicon icon-pin"></span></button></li>
                            <li id="callback_message"></li>
                        </ul>

                    </div>
                </div>
                <div id="esterenmap_sidebar"></div>
                <div id="map"></div>
                <div id="inputs_container"></div>
            </div>
        </div>

    </div>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('components/jquery/dist/jquery.min.js', null, true) }}"></script>
    <script type="text/javascript" src="{{ asset('js/global.js', null, true) }}"></script>
    <script type="text/javascript" src="{{ asset('js/maps_lib.js', null, true) }}"></script>

    {% javascripts
    '@EsterenMapsBundle/Resources/public/js/map_edit.js'
    output="js/map_edit_more.js"
    filter="?uglifyjs"
    %}<script type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() ~ asset_url }}"></script>{% endjavascripts %}

    <script type="text/javascript">
        (function($, d){
            $(d).ready(function(){
                try {
                    d.map = new EsterenMap({
                        id: {{ map.id }},
                        editMode: true,
                        showDirections: false,
                        imgUrl: "{{ asset('bundles/esterenmaps/img') }}",
                        apiUrls: {
                            base: "http://{{ esteren_domains_api }}/{{ app.request.locale }}",
                            settings: "{{ url('esterenmaps_api_maps_settings_distant', {"id":map.id}) }}",
                            tiles: "http://{{ esteren_domains_api }}{{ asset('maps_tiles/'~map.id~'/{z}/{y}/{x}.jpg') }}"
                        },
                        LeafletMapBaseOptions: {
                            maxZoom: {{ map.maxZoom }},
                            maxBounds: [[85.23,-183], [11,41]]
                        },
                        LeafletLayerBaseOptions: {
                            maxZoom: {{ map.maxZoom }},
                            maxNativeZoom: {{ map.maxZoom }},
                            tileSize: {{ tile_size }},
                            noWrap: false,
                            bounds: [[85.23,-183], [11,41]]
                        },
                        autoResize: true,
                        containerHeight: '100%'
                    });
                } catch (e) {
                    console.error(e);
                }
            });
        })(jQuery, document);
    </script>

{% endblock %}