{% extends "CorahnRinAdminBundle:Admin:layout.html.twig" %}

{% block title %}{{ 'Ogham' | trans }} - {{ parent() }}{% endblock %}

{% block admin_content %}

<ol class="breadcrumb">
    <li><a href="{{ url('corahnrin_admin_admin_index') }}">{{ 'Accueil' | trans }}</a></li>
    <li><a href="{{ url('corahnrin_characters_ogham_adminlist') }}">{{ 'Ogham' | trans }}</a></li>
</ol>

<h1>{{ 'Ogham' | trans }}</h1>

<div class="navbar navbar-inverse">
    <div class="">
        <ul class="nav navbar-nav">
            <li><a href="{{ url('corahnrin_characters_ogham_add') }}">
                <span class="glyphicon icon-plus"></span>
                {{ 'Ajouter un ogham' | trans }}
            </a></li>
            <li><a href="{{ url('corahnrin_characters_ogham_addtype') }}">
                <span class="glyphicon icon-plus"></span>
                {{ 'Ajouter un type d\'ogham' | trans }}
            </a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <h3>{{ 'Ogham' | trans }}</h3>
        <table class="table table-condensed">
            <tr>
                <th>#</th>
                <th>{{ 'Nom' | trans }}</th>
                <th>{{ 'Type' | trans }}</th>
                <th>{{ 'Actions' | trans }}</th>
            </tr>
            {% for ogham in ogham_list %}
            <tr>
                <td>{{ ogham.id }}</td>
                <td><strong>{{ ogham.name }}</strong></td>
                <td>{{ ogham.oghamType.name is defined ? ogham.oghamType.name : ' - '}}</td>
                <td>
                    <a href="{{ url('corahnrin_characters_ogham_edit', {'id':ogham.id}) }}" class="btn btn-sm btn-inverse">{{ 'Éditer' | trans }}</a>
                    {% if is_granted('ROLE_ADMIN_GENERATOR_SUPER') %}
                        <a href="{{ url('corahnrin_characters_ogham_delete', {'id':ogham.id}) }}" class="btn btn-sm btn-danger">{{ 'Supprimer' | trans }}</a>
                    {% endif %}
                </td>
            </tr>
            {% else %}
            <tr><td colspan="5">{{ 'Aucun élément' | trans }}</td></tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-sm-6">
        <h3>{{ 'Types d\'ogham' | trans }}</h3>
        <table class="table table-condensed">
            <tr>
                <th>#</th>
                <th>{{ 'Nom' | trans }}</th>
                <th>{{ 'Actions' | trans }}</th>
            </tr>
            {% for oghamType in oghamTypes %}
            <tr>
                <td>{{ oghamType.id }}</td>
                <td><strong>{{ oghamType.name }}</strong></td>
                <td>
                    <a href="{{ url('corahnrin_characters_ogham_edittype', {'id':oghamType.id}) }}" class="btn btn-sm btn-inverse">{{ 'Éditer' | trans }}</a>
                    {% if is_granted('ROLE_ADMIN_MAPS_SUPER') %}
                        <a href="{{ url('corahnrin_characters_ogham_deletetype', {'id':oghamType.id}) }}" class="btn btn-sm btn-danger">{{ 'Supprimer' | trans }}</a>
                    {% endif %}
                </td>
            </tr>
            {% else %}
            <tr><td colspan="5">{{ 'Aucun élément' | trans }}</td></tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}