{% trans_default_domain 'user' %}

{% form_theme form 'form/form_theme_materialize.html.twig' %}

{{ form_start(form, { 'action': path('user_profile_edit'), 'attr': { 'class': 'user_profile_edit' } }) }}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col s4 offset-s4">
            {% if app.user.ululeId %}
                <p class="text-l green-text">
                    Connecté <i class="fa fa-check"></i><br>
                </p>
            {% endif %}
            {{ form_row(form.disconnectUlule) }}
            {{ form_row(form.ululeUsername) }}
            {{ form_row(form.ululeApiToken) }}
            {% if not app.user.ululeId %}
                <p>
                    {{ 'form.ulule_api_explanation'|trans({}, 'user')|raw }}
                    <a target="_blank" href="http://www.ulule.com/settings/privacy/">http://www.ulule.com/settings/privacy/</a>
                </p>
            {% else %}
                <p>
                    <i class="fa fa-arrow-right"></i> <a href="{{ path('cf_my_projects') }}">{{ 'crowdfunding.my_projects'|trans }}</a>
                </p>
            {% endif %}
        </div>
    </div>
    <button class="btn bl mid" type="submit">{{ 'profile.edit.submit'|trans }}</button>
{{ form_end(form) }}
