{% extends "PierstovalAdminBundle:Admin:layout.html.twig" %}

{% block title %}{{ 'Classes sociales' | trans }} - {{ parent() }}{% endblock %}

{% block admin_content %}

<ol class="breadcrumb">
    <li><a href="{{ url('pierstoval_admin_admin_index') }}">{{ 'Accueil' | trans }}</a></li>
    <li><a href="{{ url('corahnrin_admin_socialclasses_adminlist') }}">{{ 'Classes sociales' | trans }}</a></li>
</ol>

<h1>{{ 'Classes sociales' | trans }}</h1>

{% if is_granted('ROLE_ADMIN_GENERATOR_SUPER') %}
    <div class="navbar navbar-inverse">
        <div class="">
            <ul class="nav navbar-nav">
                <li><a href="{{ url('corahnrin_admin_socialclasses_add') }}">
                    <span class="glyphicon icon-plus"></span>
                    {{ 'Ajouter une classe sociale' | trans }}
                </a></li>
            </ul>
        </div>
    </div>
{% endif %}

<table class="table table-condensed">
    <tr>
        <th>#</th>
        <th>{{ 'Nom' | trans }}</th>
        <th>{{ 'Description' | trans }}</th>
        <th>{{ 'Domaines' | trans }}</th>
        <th>{{ 'Actions' | trans }}</th>
    </tr>
    {% for socialClass in socialClasses %}
    <tr>
        <td>{{ socialClass.id }}</td>
        <td class="w100">{{ socialClass.name }}</td>
        <td>{{ socialClass.description | slice(0,125) | raw }}{{ socialClass.description | length > 125 ? '(...)' : '' }}</td>
        <td class="w180">
            {% for domain in socialClass.domains %}
                {% if loop.first %}
                    <ul class="list-unstyled">
                {% endif %}
                        <li>{{ domain.name }}</li>
                {% if loop.last %}
                    </ul>
                {% endif %}
            {% else %}
                {{ 'Aucun élément' | trans }}
            {% endfor %}
        </td>
        <td>
            <a href="{{ url('corahnrin_admin_socialclasses_edit', {'id':socialClass.id}) }}" class="btn btn-sm btn-inverse">{{ 'Éditer' | trans }}</a>
            {% if is_granted('ROLE_ADMIN_GENERATOR_SUPER') %}
            <a href="{{ url('corahnrin_admin_socialclasses_delete', {'id':socialClass.id}) }}" class="btn btn-sm btn-danger">{{ 'Supprimer' | trans }}</a>
            {% endif %}
        </td>
    </tr>
    {% else %}
    <tr><td colspan="5">{{ 'Aucun élément' | trans }}</td></tr>
    {% endfor %}
</table>

{% endblock %}