{{ '{% extends "::layout.html.twig" %}' }}

{{ '{% block title %}' -}}
{{ action.basename }} - {{ controller }} - {{ bundle }} 
{{- '{% endblock %}' }}

{{ '{% block content_for_layout %}' }}
<h1>Contrôleur {{ controller }}, vue {{ action.basename }}</h1>
{{ '{% endblock %}' }}
