{% extends "@FOSUser/layout.html.twig" %}

{% block title %}
    {{ 'layout.login' | trans({}, 'FOSUserBundle') }} - {{ parent() }}
{% endblock %}

{% block fos_user_content %}
    <div class="row">
        <form class="col s6 offset-s3" action="{{ path("fos_user_security_check") }}" method="post" id="form_login">
            <h3>{{ 'layout.login' | trans({}, 'FOSUserBundle') }}</h3>

            {% if error %}
                <div class="alert alert-danger">{{ (error.message)|trans }}</div>
            {% endif %}

            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="row">
                <div class="input-field col s12">
                    <label for="username">
                        {{- 'security.login.username'|trans({}, 'FOSUserBundle') }} / {{ 'form.email'|trans({}, 'FOSUserBundle') -}}
                    </label>
                    <input type="text" id="username" name="{{ constant('UserBundle\\Security\\FormLoginAuthenticator::USERNAME_OR_EMAIL_FORM_FIELD') }}" value="{{ last_username }}" required="required" class="validate">
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                    <input type="password" id="password" name="{{ constant('UserBundle\\Security\\FormLoginAuthenticator::PASSWORD_FORM_FIELD') }}" required="required" class="validate">
                </div>
            </div>

            <button class="btn waves-effect waves-light" type="submit">
                {{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}
            </button>
        </form>
    </div>
{% endblock fos_user_content %}
