
<nav class="nav">
	{% for step in steps %}
		{% if session_step >= step.step %}
			<a class="btn btn-link btn-xs{% if loaded_step.step == step.step %} active{% endif %}" href="{{ path('corahnrin_characters_generator_step', {'step':step.step,'slug':step.slug}) }}">{{ step.step }}. {{ step.title | trans }}</a>
		{% else %}
			<a class="btn btn-link btn-xs disabled">{{ step.step }}. {{ step.title | trans }}</a>
		{% endif %}
	{% endfor %}
	<div class="progress">
		<div class="progress-bar" role="progressbar" aria-valuenow="{{ bar_width }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ bar_width }}%;">
			<span class="sr-only">{{ bar_width }}%</span>
		</div>
	</div>
</nav>