{% extends '@CorahnRin/Steps/step_base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/step_13_primary_domains.js') }}"></script>
{% endblock %}

{% block step_content %}

    <h3>{{ job.name }}</h3>

    <input type="hidden" name="ost" id="ost" value="{{ domains_values['ost'] }}">
    <p class="card-panel teal lighten-4">
        {% trans with {"%button%": '<button type="button" class="btn btn-small btn-inverse"><span class="fa fa-asterisk"></span></button>'} %}
        Si votre personnage n'a pas effectué de <strong>service militaire</strong>, vous pouvez cliquer sur le bouton "%button%" afin d'obtenir un bonus de +1 à un autre domaine que "Combat au contact".
        {% endtrans %}
    </p>
    {% if scholar %}
        <input type="hidden" name="scholar" id="scholar">
        <p class="card-panel teal lighten-4">
            {% trans with {"%button%": '<button type="button" class="btn btn-small btn-inverse"><span class="fa fa-book"></span></button>'} %}
            Vootre personnage possède l'avantage "Lettré", par conséquent vous pouvez cliquer sur le bouton "%button%" afin d'obtenir un bonus de +1 à ce domaine grâce à cet avantage.
            {% endtrans %}
        </p>
    {% endif %}

    {# For jobs that have no secondary domain, we allow the user to choose any. #}
    {% set show_all_secondary_domains = (secondary_domains|length) == 0 %}

    {% for domains_chunk in all_domains|batch(4, []) %}

        <div class="row">
        {% for id, domain in domains_chunk %}

            {% set value = domains_values['domains'][id] %}

            <div class="col s3 domain hoverable" data-domain-id="{{ id }}">
                <input type="hidden" name="domains[{{ id }}]" value="{{ value }}">
                <h5>
                    {{ domain.name }}
                </h5>
                <div class="suppl">
                    <button type="button" data-type="ost" data-domain-id="{{ id }}" class="btn btn-inverse btn-small {{ domains_values['ost'] == id ? 'active' }}" data-toggle="tooltip" title="{{ 'Service militaire' | trans }}">
                        <span class="fa fa-asterisk"></span>
                    </button>
                    {% if scholar and id in scholar_domains_ids %}
                        <button type="button" data-type="scholar" data-domain-id="{{ id }}" class="btn btn-inverse btn-small" data-toggle="tooltip" title="{{ 'Utiliser l\'avantage "lettré"' | trans }}">
                            <span class="fa fa-book"></span>
                        </button>
                    {% endif %}
                </div>
                <hr>
                <div class="btn-group">
                    {% for i in [0, 1, 2, 3, 5] %}

                        {% set selected = i == value %}

                        {% set disabled =
                            value == 5
                            or (i == 3 and id not in secondary_domains and not show_all_secondary_domains)
                            or (i == 5 and value != 5)
                        %}

                        {#
                            If button is not disabled we add the "domain-change" class.
                            This will be the one that will receive the event listeners.
                        #}
                        {% set class -%}
                            {{- value == i ? ' active' -}}
                            {{- disabled ? ' disabled' : ' domain-change' -}}
                        {%- endset %}
                        <button type="button" data-change="{{ i }}" class="btn btn-inverse btn-small {{ class }}">
                            <span {{ disabled and not selected ? 'class="invisible"' }}>
                                {%- if i == 0 -%}
                                    &#9734;
                                {%- else -%}
                                    {%- for j in 1..i -%}
                                       &#9733;
                                    {%- endfor -%}
                                {%- endif -%}
                            </span>
                        </button>
                    {% endfor %}
                </div>
            </div>

        {% endfor %}
        </div>

    {% endfor %}

{% endblock %}
