{% extends '@CorahnRin/layout.html.twig' %}

{% block title %}{{ 'Générateur' | trans }} - {{ current_step.name | trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/generator.css') }}" type="text/css" />
{% endblock %}

{% block content_for_layout %}
    <div class="row">
        <div class="col l3 step_menu">
            {{ dump(current_character) }}
            {{ include('@CorahnRin/Steps/menu.html.twig', {
                'steps': steps,
                'current_step': current_step
            }) }}
        </div>
        <div class="col l9 step_module">
            <h1>{{ 'Étape' | trans }} {{ current_step.step }} : {{ current_step.label | trans }}</h1>
            <form class="{% block form_class '' %}" name="generator_form" id="generator_form" method="post" action="{{ path('pierstoval_character_generator_step', {'requestStep': current_step.name}) }}">
                <div id="generator_{{ current_step.name }}">
                    <button type="submit" id="submit_btn" class="btn btn-inverse">{{ 'Étape suivante' | trans }}</button>
                    <hr />
                    {% block step_content %}
                    {% endblock %}
                    <hr />
                    <button type="submit" id="submit_btn" class="btn btn-inverse">{{ 'Étape suivante' | trans }}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/maps_lib.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/generator.js') }}"></script>
{% endblock %}
