{% trans_default_domain 'CorahnRinBundle' %}

{% spaceless %}
<div class="character_details">
    <h2>{{ 'character.details'|trans }}&nbsp;:</h2>
    <h2 class="character_name">{{ character.name }}</h2>

    <div class="row">
        <div class="col l8">
            <h3>
                {{ 'character.name'|trans }}&nbsp;:
                {{ character.name }}
            </h3>
        </div>
        <div class="col l4">
            <h3>
                {{ 'character.player_name'|trans }}&nbsp;:
                {{ character.playerName }}
            </h3>
        </div>
    </div>

    {# First page #}
    {{ include('@CorahnRin/CharacterView/details/details.html.twig') }}
    {{ include('@CorahnRin/CharacterView/details/ways_advantages_health.html.twig') }}
    {{ include('@CorahnRin/CharacterView/details/domains.html.twig') }}

    {# Second page #}
    {{ include('@CorahnRin/CharacterView/details/weapons_attitudes_defense.html.twig') }}
    {{ include('@CorahnRin/CharacterView/details/equipment_tresures.html.twig') }}
    {{ include('@CorahnRin/CharacterView/details/mystical_attributes.html.twig') }}

    {# Third page #}
    {{ include('@CorahnRin/CharacterView/details/history.html.twig') }}
    {{ include('@CorahnRin/CharacterView/details/sanity.html.twig') }}
    {{ include('@CorahnRin/CharacterView/details/personality_faults.html.twig') }}
    {{ include('@CorahnRin/CharacterView/details/xp_notable_facts.html.twig') }}

</div>
{% endspaceless %}
