{% extends "PierstovalAdminBundle:Admin:layout.html.twig" %}

{% block title %}{{ 'Factions' | trans }} - {{ parent() }}{% endblock %}

{% block admin_content %}

<ol class="breadcrumb">
    <li><a href="{{ url('pierstoval_admin_admin_index') }}">{{ 'Accueil' | trans }}</a></li>
    <li><a href="{{ url('esterenmaps_maps_factions_adminlist') }}">{{ 'Factions' | trans }}</a></li>
</ol>

<h1>{{ 'Factions' | trans }}</h1>

<div class="navbar navbar-inverse">
    <div class="">
        <ul class="nav navbar-nav">
            <li><a href="{{ url('esterenmaps_maps_factions_add') }}">
                <span class="glyphicon icon-plus"></span>
                {{ 'Ajouter une Faction' | trans }}
            </a></li>
        </ul>
    </div>
</div>

<table class="table table-condensed">
    <tr>
        <th class="mw50">#</th>
        <th>{{ 'Nom' | trans }}</th>
        <th>{{ 'Description' | trans }}</th>
        <th class="w150">{{ 'Actions' | trans }}</th>
    </tr>
    {% for faction in factions %}
    <tr>
        <td>{{ faction.id }}</td>
        <td><strong>{{ faction.name }}</strong></td>
        <td>{{ faction.description }}</td>
        <td>
            <a href="{{ url('esterenmaps_maps_factions_edit', {'id':faction.id}) }}" class="btn btn-sm btn-inverse">{{ 'Éditer' | trans }}</a>
            {% if is_granted('ROLE_ADMIN_MAPS_SUPER') %}
                <a href="{{ url('esterenmaps_maps_factions_delete', {'id':faction.id}) }}" class="btn btn-sm btn-danger">{{ 'Supprimer' | trans }}</a>
            {% endif %}
        </td>
    </tr>
    {% else %}
    <tr><td colspan="4">{{ 'Aucun élément' | trans }}</td></tr>
    {% endfor %}
</table>

{% endblock %}