{% extends 'cms_page_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        {# Creates a 45deg rotated strip at the bottom-left of the page #}
        #preview_strip {
            color: #eee;
            position: fixed;
            top: 50px;
            left: -70px;
            height: 64px;
            width: 300px;
            background: #700;
            display: block;
            transform: rotate(-45deg);
            text-align: center;
            padding: 10px 0;
            box-sizing: border-box;
            opacity: 0.9;
            z-index: 1;
        }
    </style>
{% endblock %}

{% block orbitale_cms_page_content %}
    <div id="preview_strip">
        {{ 'page.preview.previewing'|trans }}<br>
        <a href="{{ path('easyadmin', {'entity': 'Pages', 'id': page.id}) }}">
            {{ 'page.preview.return_to_backoffice'|trans }}
        </a>
    </div>
    <section>
        <article>
            <h1>{{ page.title }}</h1>
            {{ page.content | raw }}
        </article>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
    </script>
{% endblock %}
