{% spaceless %}
    <li><a href="{{ path('agate_portal_home') }}">{{ 'footer.agate_rpg_portal'|trans }}</a></li>
    <li><a href="{{ path('contact') }}">{{ 'footer.contact'|trans }}</a></li>
    <li><a href="{{ path('agate_team') }}">{{ 'footer.team'|trans }}</a></li>
{% endspaceless %}
