{% extends 'dragons/dragons-layout.html.twig' %}

{% block title 'Dragons RPG' %}

{% block content_layout_class '' %}

{% block content_for_layout %}

    {% spaceless %}

    <h1 class="sr-only">Welcome to Dragons RPG portal</h1>

    <div id="index-banner" class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <h2 class="header center white-text text-shadow-black-10">{{ portal_element.title }}</h2>
                <div class="row center">
                    <h2 class="header col s12 light white-text text-shadow-black-10 text-xl">
                        <strong>{{ portal_element.subtitle }}</strong>
                    </h2>
                </div>
                {% if portal_element.buttonLink and portal_element.buttonText %}
                <div class="row center">
                    <a href="{{ portal_element.buttonLink }}" class="btn-large waves-effect waves-light bg-dragons-red">
                        {{ portal_element.buttonText }}
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="parallax">
            <img src="{{ asset(uploaded_asset_url(portal_element.imageUrl)) }}">
        </div>
    </div>

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 m4 hoverable">
                    <a href="https://dragons-jdr.blogspot.fr" class="bl">
                        <div class="portal_subtitle center" style="color: #f18f8d;"><span class="fa fa-feed">&nbsp;</span></div>
                        <h3 class="center text-xxl">Blog</h3>
                        <p>Follow the project's activity and the authors' log book</p>
                    </a>
                </div>
                <div class="col s12 m4 hoverable">
                    <a href="https://forum.studio-agate.com" class="bl">
                        <div class="portal_subtitle center" style="color: #cd1d19;"><span class="fa fa-users">&nbsp;</span></div>
                        <h3 class="center text-xxl">Forum</h3>
                        <p>Join a community of hundreds of Dragons players.</p>
                    </a>
                </div>
                <div class="col s12 m4 hoverable">
                    <a href="https://www.dropbox.com/sh/q148961dojbxk2r/AABtjw4ndFIfnXTAKcepVLr4a?dl=0" class="bl">
                        <div class="portal_subtitle center" style="color: #440a08;"><span class="fa fa-dropbox">&nbsp;</span></div>
                        <h3 class="center text-xxl">Resources</h3>
                        <p>Download many resources from the project's Dropbox page</p>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m4 offset-m4 hoverable">
                    <a href="http://eepurl.com/bWdFyv" class="bl">
                        <div class="portal_subtitle center" style="color: #440a08;"><span class="fa fa-envelope">&nbsp;</span></div>
                        <h3 class="center text-xxl">Mailing-list</h3>
                        <p>Subscribe to the newsletter and be noticed of the next news (in french).</p>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="parallax"><img src="{{ asset('img/dragons/DragonsRouge_banner.jpg') }}" alt="Dragons: Adventurers"></div>
    </div>

    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center text-m">
                    <h2 id="decouvrir-esteren">Dragons: the role-playing game</h2>
                    <p class="left-align">
                        Epic, shaded with Swords & Sorcery and dark fantasy, <strong>DRAGONS</strong> is a role-playing game based on the augmented rules of the 5th edition of the most famous RPG.
                    </p>
                    <p class="left-align">
                        Discover the universe of Eana and its several high color civilizations, find the forgotten portals of the Travelers, climb the stairs of the Forge of Destiny and face the Dragon-gods!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="parallax"><img src="{{ asset('img/dragons/Drakeide_banner.jpg') }}" alt="Dragons: Drakeide"></div>
    </div>

    {% endspaceless %}

{% endblock %}
