{% extends 'dragons/dragons-layout.html.twig' %}

{% block title 'Dragons, le jeu de rôle' %}

{% block content_layout_class '' %}

{% block content_for_layout %}

    {% spaceless %}

    <h1 class="sr-only">Bienvenue sur le nouveau portail du jeu de rôle Dragons</h1>

    <div id="index-banner" class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <h2 class="header center white-text text-shadow-black-10">{{ portal_element.title }}</h2>
                <div class="row center">
                    <h2 class="header col s12 light white-text text-shadow-black-10 text-xl">
                        <strong>{{ portal_element.subtitle }}</strong>
                    </h2>
                </div>
                {% if portal_element.buttonLink and portal_element.buttonText %}
                <div class="row center">
                    <a href="{{ portal_element.buttonLink }}" class="btn-large waves-effect waves-light bg-dragons-red">
                        {{ portal_element.buttonText }}
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="parallax">
            <img src="{{ asset(uploaded_asset_url(portal_element.imageUrl)) }}">
        </div>
    </div>

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 m4 hoverable">
                    <a href="https://dragons-jdr.blogspot.fr" class="bl">
                        <div class="portal_subtitle center" style="color: #f18f8d;"><span class="fa fa-feed">&nbsp;</span></div>
                        <h3 class="center text-xxl">Blog</h3>
                        <p>Suivez l'actualité du projet et le carnet de bord des auteurs</p>
                    </a>
                </div>
                <div class="col s12 m4 hoverable">
                    <a href="https://forum.studio-agate.com" class="bl">
                        <div class="portal_subtitle center" style="color: #cd1d19;"><span class="fa fa-users">&nbsp;</span></div>
                        <h3 class="center text-xxl">Forum</h3>
                        <p>Rejoignez une communauté de plusieurs centaines de joueurs et joueuses de Dragons.</p>
                    </a>
                </div>
                <div class="col s12 m4 hoverable">
                    <div class="bl">{# TODO: add download link #}
                        <div class="portal_subtitle center" style="color: #440a08;"><span class="fa fa-dropbox">&nbsp;</span></div>
                        <h3 class="center text-xxl">Ressources (Bientôt !)</h3>
                        <p>Téléchargez de nombreuses ressources sur la page Dropbox du projet.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m4 offset-m2 hoverable">
                    <div class="bl">{# TODO: Add newsletter link #}
                        <div class="portal_subtitle center" style="color: #440a08;"><span class="fa fa-envelope">&nbsp;</span></div>
                        <h3 class="center text-xxl">Mailing-list (bientôt)</h3>
                        <p>Inscrivez-vous à la mailing list et soyez prévenu au lancement du prochain financement participatif.</p>
                    </div>
                </div>
                <div class="col s12 m4 hoverable">
                    <div class="bl">
                        <div class="portal_subtitle center" style="color: #cd1d19;"><span class="fa fa-shopping-bag">&nbsp;</span></div>
                        <h3 class="center text-xxl">Boutique (bientôt)</h3>
                        <p>Commandez en ligne, profitez d'offres exclusives et soutenez directement les créateurs.</p>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="parallax"><img src="{{ asset('img/dragons/DragonsRouge_banner.jpg') }}" alt="Dragons : Aventuriers"></div>
    </div>

    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center text-m">
                    <h2 id="decouvrir-esteren">Dragons : le jeu de rôle</h2>
                    <p class="left-align">
                        Épique, teinté de swords & sorcery et de dark fantasy, <strong>DRAGONS</strong> est un jeu de rôle motorisé par les règles augmentées de la 5e édition du plus mythique des JDR.
                    </p>
                    <p class="left-align">
                        Découvrez l'univers d'Eana et ses multiples civilisations hautes en couleur, retrouvez les portails perdus des Voyageurs, gravissez les marches de la Forge du destin et mesurez-vous aux Dragons-dieux !
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="parallax"><img src="{{ asset('img/dragons/Drakeide_banner.jpg') }}" alt="Dragons : Drakéide"></div>
    </div>

    {% endspaceless %}

{% endblock %}
