
<div class="main hoverable row">
    <div class="col l3"><h3>{{ 'character.sex_title'|trans({}, 'CorahnRinBundle') }}&nbsp;:&nbsp;{{ character.sex|trans({}, 'CorahnRinBundle') }}</h3></div>
    <div class="col l2"><h3>{{ 'character.age'|trans({}, 'CorahnRinBundle') }}&nbsp;:&nbsp;{{ character.age }}</h3></div>
    <div class="col l3"><h3>{{ 'character.people'|trans({}, 'CorahnRinBundle') }}&nbsp;:&nbsp;{{ character.people.name }}</h3></div>
    <div class="col l4"><h3>{{ 'character.job'|trans({}, 'CorahnRinBundle') }}&nbsp;:&nbsp;{{ character.job.name }}</h3></div>
</div>
