{% trans_default_domain 'CorahnRinBundle' %}

<div class="main row">
    <div class="col s4">
        <h2>{{ 'character.rindath'|trans }}</h2>

        <h3>{{ 'character.rindath_score'|trans }}<span class="right">{{ character.rindath }}/{{ character.rindathMax }}</span></h3>

        <div class="row">
            <h4>{{ 'character.ogham_list'|trans }}</h4>
            {% for ogham in character.ogham %}
                <div class="col s3"><h4>{{ ogham.name }}</h4></div>
            {% else %}
                <div><h4 class="ib m0 p0">&mdash;</h4></div>
            {% endfor %}
        </div>
    </div>

    <div class="col s4">
        <h2>{{ 'character.exaltation'|trans }}</h2>

        <h3>{{ 'character.exaltation_score'|trans }}<span class="right">{{ character.exaltation }}/{{ character.exaltationMax }}</span></h3>

        <h4>{{ 'character.miracles.minor'|trans }}</h4>
        <ul class="list-bullet">
            {% for miracle in character.miracles if not miracle.isMajor %}
                <li><h5 class="ib m0 p0">{{ miracle.name }}</h5></li>
            {% else %}
                <li><h5 class="ib m0 p0">&mdash;</h5></li>
            {% endfor %}
        </ul>

        <h4>{{ 'character.miracles.major'|trans }}</h4>
        <ul class="list-bullet">
            {% for miracle in character.miracles if miracle.isMajor %}
                <li><h5 class="ib m0 p0">{{ miracle.name }}</h5></li>
            {% else %}
                <li><h5 class="ib m0 p0">&mdash;</h5></li>
            {% endfor %}
        </ul>
    </div>

    <div class="col s4">
        <h2>{{ 'character.flux'|trans }}</h2>

        <ul class="list-bullet">
            {% for charFlux in character.flux %}
                <li><h3>{{ charFlux.flux.name }}<span class="right">{{ charFlux.quantity }}</span></h3></li>
            {% else %}
                <li><h3 class="ib m0 p0">&mdash;</h3></li>
            {% endfor %}
        </ul>
    </div>
</div>
