
<div class="main row">
    <div class="col s12">

        <div class="row">
            <div class="col s3">
                <h2 class="text-xxxl text-left">
                    {{ 'character.experience.title'|trans({}, 'CorahnRinBundle') }}
                </h2>
            </div>
            <div class="col s9">
                <h3>
                    {{ 'character.experience.actual'|trans({}, 'CorahnRinBundle') }}&nbsp;:
                    {{ character.experienceActual }}
                </h3>
                <h3>
                    {{ 'character.experience.spent'|trans({}, 'CorahnRinBundle') }}&nbsp;:
                    {{ character.experienceSpent }}
                </h3>
            </div>
        </div>

        <h2 class="text-left">{{ 'character.notable_facts'|trans({}, 'CorahnRinBundle') }}</h2>

        <p class="text-l">{{ character.facts }}</p>

    </div>
</div>
