{% macro tree(elements, attributes={}, attributesChildren={}, level = 0) %}
    <ul{% for attr,value in attributes %} {{ attr }}="{{ value }}"{% endfor %}>
    {% for element in elements %}
        <li{% for attr,value in attributesChildren %} {{ attr }}="{{ value }}"{% endfor %}>
            {% set authorized = true %}
            {% for role in element.roles %}
                {% if is_granted(role) == false %}
                    {% set authorized = false %}
                {% endif %}
            {% endfor %}
            {% if authorized == true %}
                {% if level == 0 %}<h2>{% endif %}
                {% if element.route %}
                    <a href="{{ url(element.route) }}">{{ element.name | trans | raw }}</a>
                {% else %}
                    {{ element.name | trans | raw }}
                {% endif %}
                {% if level == 0 %}</h2>{% endif %}
                {% if element.children %}
                    {{ _self.tree(element.children, attributes, attributesChildren, (level + 1)) }}
                {% endif %}
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    
{% endmacro %}