{% spaceless %}
{% if locale is not defined %}
    {% set locale = app.request.attributes.get('_locale') %}
{% endif %}
<div class="navbar navbar-inverse" id="navigation">
    <div class="container">
        <div class="navbar-header">
            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ path('root') }}" class="navbar-brand">{{ 'home' | trans({}, 'OrbitaleCms') }}</a>
        </div>
        <div class="navbar-collapse collapse">

            {{ knp_menu_render('EsterenPortalBundle:GeneralMenu:getGeneralMenu', {'compressed': false, 'allow_safe_labels': true}) }}

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ 'lang' | trans({}, 'Languages') }} [{{ locale|upper }}] <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% set route_name = app.request.attributes.get('_route') %}
                        {% set route_params = app.request.attributes.get('_route_params') %}
                        {% for loc in locales %}
                            {% if loc == locale %}
                                <li class="active"><a>{{ loc | trans({}, 'Languages') }}</a></li>
                            {% else %}
                                <li><a href="{{ path(route_name, ((route_params|default({}, 'Languages')) | merge({'_locale':loc})) ) }}">{{ loc | trans({}, 'Languages') }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                {% if app.user.username is not defined %}
                    <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login' | trans({},'FOSUserBundle') }}</a></li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout' | trans({},'FOSUserBundle') }} [ {{ app.user.username }} ]</a></li>
                    {% if is_granted('ROLE_MANAGER') %}
                        <li><a href="{{ path('easyadmin') }}">{{ 'links.admin' | trans }}</a></li>
                    {% endif %}
                {% endif %}

            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div><!--/.navbar.navbar-default-->
{% endspaceless %}
