{% extends "@EasyAdmin/default/layout.html.twig" %}

{% block body_id 'esterenmap_edit' %}

{% block head_stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/maps_lib.css') }}" type="text/css" />
<style type="text/css" id="map_add_style"></style>
{% endblock %}

{% block page_title %}{{ 'admin.edit_map' | trans({},'EsterenMaps') }} {{ map.name }} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="row">
        <div id="content-header" class="col-sm-12">
            {% block content_header %}{% endblock %}
        </div>

        <div id="main" class="col-sm-12">
            <div id="map_wrapper">
                <div id="maps_admin_container">
                    <div id="map_edit_menu">

                        <ul class="list-inline">
                            <li data-toggle="tooltip">
                                <button data-toggle-class="btn-default btn-inverse" id="hide_zones" class="btn btn-default" type="button">
                                    <span class="fa fa-eye"></span>
                                    {{ 'entities.zones.title' | trans({}, 'EsterenMaps') }}
                                </button>
                            </li>
                            <li data-toggle="tooltip">
                                <button data-toggle-class="btn-default btn-inverse" id="hide_routes" class="btn btn-default" type="button">
                                    <span class="fa fa-eye"></span>
                                    {{ 'entities.routes.title' | trans({}, 'EsterenMaps') }}
                                </button>
                            </li>
                            <li data-toggle="tooltip">
                                <button data-toggle-class="btn-default btn-inverse" id="hide_markers" class="btn btn-default" type="button">
                                    <span class="fa fa-eye"></span>
                                    {{ 'entities.markers.title' | trans({}, 'EsterenMaps') }}
                                </button>
                            </li>
                            <li id="esterenmap_message_element"></li>
                        </ul>

                    </div>
                </div>
                <div id="esterenmap_sidebar"></div>
                <div id="map"></div>
                <div id="inputs_container"></div>
            </div>
        </div>

    </div>
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/global.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/maps_lib.js') }}"></script>

    <script type="text/javascript" src="{{ path('pierstoval_tools_assets_jstranslations', {"_locale": app.request.locale}) }}"></script>
    <script type="text/javascript" src="{{ asset('js/map_edit_more.js') }}"></script>

    <script type="text/javascript">
        (function($, d){
            $(d).ready(function(){
                try {
                    d.map = new EsterenMap({
                        id: {{ map.id }},
                        //crs: 'Direct',
                        editMode: true,
                        showDirections: false,
                        imgUrl: "{{ asset('bundles/esterenmaps/img') }}",
                        apiUrls: {
                            base: "http://{{ esteren_domains_api }}/{{ app.request.locale }}",
                            settings: "{{ url('esterenmaps_api_maps_settings_distant', {"id":map.id}) }}",
                            tiles: "http://{{ esteren_domains_api }}{{ asset('maps_tiles/'~map.id~'/{z}/{y}/{x}.jpg') }}"
                        },
                        LeafletMapBaseOptions: {
                            maxZoom: {{ map.maxZoom }}
                            {% if map.jsonBounds|length %},
                            maxBounds: {{ map.bounds|raw }}
                            {% endif %}
                        },
                        LeafletLayerBaseOptions: {
                            maxZoom: {{ map.maxZoom }},
                            maxNativeZoom: {{ map.maxZoom }},
                            tileSize: {{ tile_size }},
                            noWrap: false,
                            {# Have to wait until bounds are supported in CANVAS mode #}
                            {#% if map.jsonBounds|length %},
                            bounds: {{ map.bounds|raw }}
                            {% endif %#}
                        },
                        autoResize: true,
                        containerHeight: 'calc(100% - 80px)'
                    });
                } catch (e) {
                    console.error(e);
                }
            });
        })(jQuery, document);
    </script>

{% endblock %}
