{% extends "PierstovalAdminBundle:Admin:layout.html.twig" %}

{% block title %}{{ 'Qualités' | trans }} / {{ 'Défauts' | trans }} - {{ parent() }}{% endblock %}

{% block admin_content %}

<ol class="breadcrumb">
    <li><a href="{{ url('pierstoval_admin_admin_index') }}">{{ 'Accueil' | trans }}</a></li>
    <li><a href="{{ url('corahnrin_admin_traits_adminlist') }}">{{ 'Qualités' | trans }} / {{ 'Défauts' | trans }}</a></li>
</ol>

<h1>{{ 'Qualités' | trans }} / {{ 'Défauts' | trans }}</h1>

{% if is_granted('ROLE_ADMIN_GENERATOR_SUPER') %}
    <div class="navbar navbar-inverse">
        <div class="">
            <ul class="nav navbar-nav">
                <li><a href="{{ url('corahnrin_admin_traits_add') }}">
                    <span class="glyphicon icon-plus"></span>
                    {{ 'Ajouter un trait de caractère' | trans }}
                </a></li>
            </ul>
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="col-sm-6">
        <h2>{{ 'Qualités' | trans }}</h2>
        <table class="table table-condensed">
            <tr>
                <th class="mw50">#</th>
                <th>{{ 'Nom' | trans }}</th>
                <th>{{ 'Voie' | trans }}</th>
                <th class="w150">{{ 'Actions' | trans }}</th>
            </tr>
            {% for quality in qualities %}
            <tr>
                <td>{{ quality.id }}</td>
                <td class="w215"><strong>{{ quality.name }}{{ quality.nameFemale ? ' / ' ~ (quality.nameFemale | trans) : '' }}</strong></td>
                <td>
                    {{ quality.way.name }} <small>({{ 'Score %majorMinor%' | trans({"%majorMinor%": ( (quality.major ? 'Majeur' : 'Mineur') | trans ) }) }})</small>
                </td>
                <td>
                    <a href="{{ url('corahnrin_admin_traits_edit', {'id':quality.id}) }}" class="btn btn-sm btn-inverse">{{ 'Éditer' | trans }}</a>
                    {% if is_granted('ROLE_ADMIN_GENERATOR_SUPER') %}
                    <a href="{{ url('corahnrin_admin_traits_delete', {'id':quality.id}) }}" class="btn btn-sm btn-danger">{{ 'Supprimer' | trans }}</a>
                    {% endif %}
                </td>
            </tr>
            {% else %}
            <tr><td colspan="3">{{ 'Aucun élément' | trans }}</td></tr>
            {% endfor %}
        </table>
    </div>

    <div class="col-sm-6">
        <h2>{{ 'Défauts' | trans }}</h2>
        <table class="table table-condensed">
            <tr>
                <th class="mw50">#</th>
                <th>{{ 'Nom' | trans }}</th>
                <th>{{ 'Voie' | trans }}</th>
                <th class="w150">{{ 'Actions' | trans }}</th>
            </tr>
            {% for flaw in flaws %}
            <tr>
                <td>{{ flaw.id }}</td>
                <td class="w215"><strong>{{ flaw.name }}</strong></td>
                <td>
                    {{ flaw.way.name }} <small>({{ 'Score %majorMinor%' | trans({"%majorMinor%": ( (flaw.major ? 'Majeur' : 'Mineur') | trans ) }) }})</small>
                </td>
                <td>
                    <a href="{{ url('corahnrin_admin_traits_edit', {'id':flaw.id}) }}" class="btn btn-sm btn-inverse">{{ 'Éditer' | trans }}</a>
                    {% if is_granted('ROLE_ADMIN_GENERATOR_SUPER') %}
                    <a href="{{ url('corahnrin_admin_traits_delete', {'id':flaw.id}) }}" class="btn btn-sm btn-danger">{{ 'Supprimer' | trans }}</a>
                    {% endif %}
                </td>
            </tr>
            {% else %}
            <tr><td colspan="3">{{ 'Aucun élément' | trans }}</td></tr>
            {% endfor %}
        </table>
    </div>
</div>


{% endblock %}