{% extends 'agate/agate-layout.html.twig' %}

{% block content_layout_class '' %}

{% block content_for_layout %}

    {% spaceless %}

    <h1 class="sr-only">Welcome to the new Studio Agate portal</h1>

    <div id="index-banner" class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <h2 class="header center white-text text-shadow-black-10">{{ portal_element.title }}</h2>
                <div class="row center">
                    <h2 class="header col s12 light white-text text-shadow-black-10 text-xl">
                        <strong>{{ portal_element.subtitle }}</strong>
                    </h2>
                </div>
                <div class="row center">
                    <a href="{{ portal_element.buttonLink }}" class="btn-large waves-effect waves-light bg-gold">
                        {{ portal_element.buttonText }}
                    </a>
                </div>
            </div>
        </div>
        <div class="parallax">
            <img src="{{ asset(uploaded_asset_url(portal_element.imageUrl)) }}">
        </div>
    </div>

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 m4 hoverable">
                    <a href="{{ path('esteren_portal_home') }}" class="bl portal-link">
                        <h2 class="text-xxl">
                            <img src="{{ asset('img/agate/Portal_Esteren_logo.png') }}" alt="Shadows of Esteren">
                        </h2>
                        <p>Medieval gothic horror in a romantic univers inspired by celtic legends</p>
                    </a>
                </div>
                <div class="col s12 m4 hoverable">
                    <a href="{{ path('dragons_home') }}" class="bl portal-link">
                        <h2 class="text-xxl">
                            <img src="{{ asset('img/agate/Portal_Dragons_logo.jpg') }}" alt="Dragons">
                        </h2>
                        <p>Universe based on the augmented rules of the 5th edition of the most famous RPG (in French)</p>
                    </a>
                </div>
                <div class="col s12 m4 hoverable">
                    <a href="{{ path('vermine_portal_home') }}" class="bl portal-link">
                        <h2 class="text-xxl">
                            <img src="{{ asset('img/agate/Portal_Vermine_logo.jpg') }}" alt="Vermine 2047">
                        </h2>
                        <p>Survival and shamanism in a post-apocalyptic world where humans are just simple preys (in French)</p>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4 offset-m1 hoverable">
                    <a href="https://www.facebook.com/7eMer/" class="bl portal-link">
                        <h2 class="text-xxl">
                            <img src="{{ asset('img/agate/Portal_7e_Mer_Logo.png') }}" alt="7th Sea">
                        </h2>
                        <p>The French translation of the famous pirates adventures RPG by John Wick</p>
                    </a>
                </div>

                <div class="col s12 m4 offset-m1 hoverable">
                    <a href="http://www.facebook.com/vampirelerequiem/" class="bl portal-link">
                        <h2 class="text-xxl">
                            <img src="{{ asset('img/agate/Portal_Vampire_Requiem_Logo.png') }}" alt="Vampire : The Requiem">
                        </h2>
                        <p>Tonight, you become one of the damned beauties that hide behind our ordinary world (in French)</p>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="parallax"><img src="{{ asset('img/agate/esteren_dearg_front.jpg') }}" alt="Shadows of Esteren: Dearg background"></div>
    </div>

    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center text-m">
                    <h2 id="decouvrir-esteren">About our studio</h2>
                    <p class="left-align">
                        Based in France, our studio is composed of <a href="{{ path('agate_team') }}">six permanent members</a>.
                        We work with various authors, illustrators and freelancers who participate to our projects.
                        Our studio has become specialized in creating imaginary worlds, writing scenarios and transmedia.
                        We write role-playing game books, music albums or video games, and have won a dozen international
                        prices. We also translate and publish licenses of great games with our editing label <strong>Agate RPG</strong>.
                    </p>
                    <p class="left-align">
                        You can follow our work on <a href="http://agate-rpg.blogspot.fr/">our blog</a> (in French).
                    </p>
                    <p class="left-align">
                        You would like to work with our team or use our services?
                        <a href="{{ path('contact') }}">Contact us</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="parallax"><img src="{{ asset('img/Esteren_Arven_marche.jpg') }}" alt="Shadows of Esteren: Arven walking"></div>
    </div>
    {% endspaceless %}

{% endblock %}
