{% extends "PierstovalAdminBundle:Admin:layout.html.twig" %}

{% block title %}{{ 'Armes' | trans }} - {{ parent() }}{% endblock %}

{% block admin_content %}

<ol class="breadcrumb">
    <li><a href="{{ url('pierstoval_admin_admin_index') }}">{{ 'Accueil' | trans }}</a></li>
    <li><a href="{{ url('corahnrin_admin_weapons_adminlist') }}">{{ 'Armes' | trans }}</a></li>
</ol>

<h1>{{ 'Armes' | trans }}</h1>

{% if is_granted('ROLE_ADMIN_GENERATOR_SUPER') %}
    <div class="navbar navbar-inverse">
        <div class="">
            <ul class="nav navbar-nav">
                <li><a href="{{ url('corahnrin_admin_weapons_add') }}">
                    <span class="glyphicon icon-plus"></span>
                    {{ 'Ajouter une Arme' | trans }}
                </a></li>
            </ul>
        </div>
    </div>
{% endif %}

<table class="table table-condensed">
    <tr>
        <th class="mw50">#</th>
        <th>{{ 'Nom' | trans }}</th>
        <th>{{ 'Description' | trans }}</th>
        <th>{{ 'Dégâts' | trans }}</th>
        <th>{{ 'Prix' | trans }}</th>
        <th>{{ 'Disponibilité' | trans }}</th>
        <th class="w150">{{ 'Actions' | trans }}</th>
    </tr>
    {% for weapon in weapons %}
    <tr>
        <td>{{ weapon.id }}</td>
        <td class="w150"><strong>{{ weapon.name }}</strong></td>
        <td>{{ weapon.description }}</td>
        <td>{{ weapon.damage }}</td>
        <td>{{ weapon.price }}</td>
        <td>{{ weapon.availability }}</td>
        <td>
            <a href="{{ url('corahnrin_admin_weapons_edit', {'id':weapon.id}) }}" class="btn btn-sm btn-inverse">{{ 'Éditer' | trans }}</a>
            {% if is_granted('ROLE_ADMIN_GENERATOR_SUPER') %}
            <a href="{{ url('corahnrin_admin_weapons_delete', {'id':weapon.id}) }}" class="btn btn-sm btn-danger">{{ 'Supprimer' | trans }}</a>
            {% endif %}
        </td>
    </tr>
    {% else %}
    <tr><td colspan="7">{{ 'Aucun élément' | trans }}</td></tr>
    {% endfor %}
</table>

{% endblock %}