{% extends "PierstovalAdminBundle:Admin:layout.html.twig" %}

{% block title %}{{ 'Armures' | trans }} - {{ parent() }}{% endblock %}

{% block admin_content %}

<ol class="breadcrumb">
    <li><a href="{{ url('pierstoval_admin_admin_index') }}">{{ 'Accueil' | trans }}</a></li>
    <li><a href="{{ url('corahnrin_characters_armors_adminlist') }}">{{ 'Armures' | trans }}</a></li>
</ol>

<h1>{{ 'Armures' | trans }}</h1>

{% if is_granted('ROLE_ADMIN_GENERATOR_SUPER') %}
    <div class="navbar navbar-inverse">
        <div class="">
            <ul class="nav navbar-nav">
                <li><a href="{{ url('corahnrin_characters_armors_add') }}">
                    <span class="glyphicon icon-plus"></span>
                    {{ 'Ajouter une Armure' | trans }}
                </a></li>
            </ul>
        </div>
    </div>
{% endif %}

<table class="table table-condensed">
    <tr>
        <th>#</th>
        <th>{{ 'Nom' | trans }}</th>
        <th>{{ 'Description' | trans }}</th>
        <th>{{ 'Protection' | trans }}</th>
        <th>{{ 'Prix' | trans }}</th>
        <th>{{ 'Disponibilité' | trans }}</th>
        <th>{{ 'Actions' | trans }}</th>
    </tr>
    {% for armor in armors %}
    <tr>
        <td>{{ armor.id }}</td>
        <td class="w150"><strong>{{ armor.name }}</strong></td>
        <td>{{ armor.description }}</td>
        <td>{{ armor.protection }}</td>
        <td>{{ armor.price }}</td>
        <td>{{ armor.availability }}</td>
        <td>
            <a href="{{ url('corahnrin_characters_armors_edit', {'id':armor.id}) }}" class="btn btn-sm btn-inverse">{{ 'Éditer' | trans }}</a>
            {% if is_granted('ROLE_ADMIN_GENERATOR_SUPER') %}
            <a href="{{ url('corahnrin_characters_armors_delete', {'id':armor.id}) }}" class="btn btn-sm btn-danger">{{ 'Supprimer' | trans }}</a>
            {% endif %}
        </td>
    </tr>
    {% else %}
    <tr><td colspan="7">{{ 'Aucun élément' | trans }}</td></tr>
    {% endfor %}
</table>

{% endblock %}