{% extends 'easy_admin/layout.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/lexiktranslation/ng-table/ng-table.min.css') }}">
    {% endblock %}
{% endblock %}

{% block page_title %}
    {% block title %}{% endblock %}
{% endblock %}

{% block content_header %}
    {{ parent() }}
    {% block flash_message %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% set flashes = app.session.flashbag.all() %}
                    {% if flashes | length > 0 %}
                        {% for type, messages in flashes %}
                            {% for message in messages %}
                                <div class="alert alert-{{ type }}">{{ message }}</div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock flash_message %}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    {% block javascript_footer %}
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
        <script src="{{ asset('bundles/lexiktranslation/ng-table/ng-table.min.js') }}"></script>
    {% endblock %}
{% endblock %}
