<input type="hidden" name="quality" id="quality" value="{{ quality }}" />
<input type="hidden" name="flaw" id="flaw" value="{{ flaw }}" />
<div class="row">
    <div id="list_qualities" class="col-sm-6">
        <h4 class="text-center">{{ 'Qualités' | trans }}</h4>
        {% for trait in traits_list.qualities %}
            {% if loop.first %}
                <div class="row mb5">
            {% endif %}

            <div class="col-sm-4">
                <button type="button" data-group="qualities" id="btn-gen-choice-{{ trait.id }}" data-toggle="btn-gen-choice" data-input-value="{{ trait.id }}" data-target-node="quality" class="btn btn-inverse btn-block {{ quality == trait.id ? 'active' : '' }}">{{ trait.name | trans }}</button>
            </div>

            {% if loop.index % 3 == 0 and not loop.last %}
                </div><!-- /.row --><div class="row mb5">
            {% elseif loop.last %}
                </div><!-- /.row -->
            {% endif %}

        {% endfor %}{# qualities #}
    </div>
    <div id="list_flaws" class="col-sm-6">
        <h4 class="text-center">{{ 'Défauts' | trans }}</h4>
        {% for trait in traits_list.flaws %}
            {% if loop.first %}
                <div class="row mb5">
            {% endif %}

            <div class="col-sm-4">
                <button type="button" data-group="flaws" id="btn-gen-choice-{{ trait.id }}" data-toggle="btn-gen-choice" data-input-value="{{ trait.id }}" data-target-node="flaw" class="btn btn-inverse btn-block {{ flaw == trait.id ? 'active' : '' }}">{{ trait.name | trans }}</button>
            </div>

            {% if loop.index % 3 == 0 and not loop.last %}
                </div><!-- /.row --><div class="row mb5">
            {% elseif loop.last %}
                </div><!-- /.row -->
            {% endif %}

        {% endfor %}{# qualities #}
    </div>
</div>
