<input type="hidden" name="gen-div-choice" id="gen-div-choice" value="{{ orientation_value }}" />
<div class="row">
    {% for id, orientation in orientations %}
    <div class="col-sm-6 gen-div-choice{{ can_be_changed ? '' : '-disabled' }}{{ orientation_value == id ? ' selected' }}"
         data-div-choice-value="{{ id }}">
        <article>
            <header>
                <h3 class="text-center">{{ orientation.name | trans }}</h3>
            </header>
            <p>{{ orientation.description | trans }}</p>
        </article>
    </div>
    {% endfor %}
</div>