{% extends "::layout.html.twig" %}

{% block title %}{{ 'Générateur' | trans }} - {{ loaded_step.title | trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@CorahnRinGeneratorBundle/Resources/public/css/*'
        filter="cssrewrite,?yui_css"
        output="css/generator.css"
    %}<link rel="stylesheet" href="{{ app.request.getSchemeAndHttpHost() ~ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block content_for_layout %}
    <div class="row">
        <div class="col-sm-3 step_menu">
            {% render(controller("CorahnRinGeneratorBundle:Generator:menu", {"step":loaded_step})) %}
        </div>
        <div class="col-sm-9 step_module">
            <h1>{{ 'Étape' | trans }} {{ loaded_step.step }} : {{ loaded_step.title | trans }}</h1>
            <form name="generator_form" id="generator_form" method="post" action="{{ url('corahnrin_generator_generator_step', {'step':loaded_step.step,'slug':loaded_step.slug}) }}">
                <fieldset id="generator_{{ loaded_step.slug }}">
                    <button type="submit" id="submit_btn" class="btn btn-inverse">{{ 'Étape suivante' | trans }}</button>
                    <hr />
                    {% include loaded_step_filename %}
                    <hr />
                    <button type="submit" id="submit_btn" class="btn btn-inverse">{{ 'Étape suivante' | trans }}</button>
                </fieldset>
            </form>
        </div>
    </div>
    <pre>{{ pr(app.session.get('character')) }}</pre>
{% endblock %}

{% block javascripts %}
    {{ parent() }}{% javascripts
        '@CorahnRinGeneratorBundle/Resources/public/js/*'
        filter="?yui_js"
        output="js/generator.js"
    %}<script type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() ~ asset_url }}"></script>{% endjavascripts %}
{% endblock %}