{% extends "::layout.html.twig" %}

{% block title %}{{ 'Créer une nouvelle carte' | trans }} {{ parent() }}{% endblock %}

{% block content_for_layout %}
<h2>{{ 'Créer une nouvelle carte' | trans }}</h2>

{% if valid %} 
<div class="well">
    <p>Name : {{ map.getName() }}</p>
    <p>Desc : {{ map.getDescription() }}</p>
    <p>Zoom : {{ map.getMaxZoom() }}</p>
    <p>Image : <img src="{{ asset(map.getImage()) }}" /></p>
</div>
{% endif %}

{% include('CorahnRinMapsBundle:Maps:form.html.twig') %}
{% endblock %}
