{% extends "::layout.html.twig" %}

{% block title %}{{ 'Modifier une carte' | tr }} {{ map.name | tr }} - {{ parent() }}{% endblock %}

{% block content_for_layout %}
<form id="map_edit_form" action="{{ path('corahnrin_maps_maps_edit', {'id':map.id}) }}" method="post">
    <fieldset>
        <div id="map_wrapper">
            <div id="map_edit_menu" class="navbar navbar-inverse" style="z-index: 250000;">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#" id="map_dont_move" data-map-container="map_container" data-toggle="tooltip" title="{{ 'Désactiver le mouvement' | tr }}"><span class="glyphicon icon-move text-success"></span></a></li>
                        <li><a href="#" id="map_add_zone" data-map-container="map_container" data-zones-container="map_zones" data-toggle="tooltip" title="{{ 'Ajouter une zone' | tr }}"><span class="glyphicon icon-vector_path_polygon"></span></a></li>
                    </ul>
                </div>
            </div>
            <div id="map_container" data-zoom="1" data-map-id="{{ map.id }}" data-init-url="{{ route_init }}">
                <div id="map_labels"></div>
                <svg id="map_zones" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    {% for zone in map.zones %}
                        <polygon data-toggle="tooltip" title="{{ zone.name | tr}}" points="{{ zone.coordinates }}" id="map_add_zone_polygon[{{ zone.id }}]" />
                    {% endfor %}
                </svg>
                {% for zone in map.zones %}
                    {% for coords in zone.coordinates | split(' ') %}
                        {% set coord = coords | split(',') %}
                        <span class="glyphicon icon-screenshot map-icon-target" data-target-polygon="map_add_zone_polygon[{{ zone.id }}]" style="position: absolute;left: {{ coord.0 }}px;top: {{ coord.1 }}px;"></span>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </fieldset>
    {% for zone in map.zones %}
        <input type="hidden" value="{{ zone.coordinates }}" name="input_map_add_zone_polygon[{{ zone.id }}]" id="input_map_add_zone_polygon[{{ zone.id }}]" />
    {% endfor %}
</form>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@CorahnRinMapsBundle/Resources/public/js/jquery.mousewheel.min.js'
        '@CorahnRinMapsBundle/Resources/public/js/jquery.transform2d.js'
        '@CorahnRinMapsBundle/Resources/public/js/map.js'
        '@CorahnRinMapsBundle/Resources/public/js/map_edit/*.js'
        output="js/maps.js"
        filter="yui_js"
    %}<script type="text/javascript" src="{{ asset_url }}"></script>{% endjavascripts %}

    <script type="text/javascript">
        document.corahn_rin_map = new Map({
            allowZoom:false,
            zoom: 10
        });
        document.addZonePolygonId = {{ max }};
    </script>
{% endblock %}