{% extends "::layout.html.twig" %}

{% block title %}{{ 'Modifier une carte' | tr }} {{ map.name | tr }} - {{ parent() }}{% endblock %}

{% block content_for_layout %}
<div id="map_wrapper">
    <div id="map_edit_menu" class="navbar navbar-inverse" style="z-index: 250000;">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" id="map_dont_move" data-map-container="map_container" data-toggle="tooltip" title="{{ 'Désactiver le mouvement' | tr }}"><span class="glyphicon icon-move text-success"></span></a></li>
                <li><a href="#" id="map_add_zone" data-map-container="map_container" data-zones-container="map_zones" data-toggle="tooltip" title="{{ 'Ajouter une zone' | tr }}"><span class="glyphicon icon-vector_path_polygon"></span></a></li>
            </ul>
        </div>
    </div>
    <div id="map_container" data-zoom="1" data-map-id="{{ map.id }}" data-init-url="{{ route_init }}">
        <div id="map_labels"></div>
        <svg id="map_zones" version="1.1" xmlns="http://www.w3.org/2000/svg"></svg>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@CorahnRinMapsBundle/Resources/public/js/jquery.mousewheel.min.js'
        '@CorahnRinMapsBundle/Resources/public/js/jquery.transform2d.js'
        '@CorahnRinMapsBundle/Resources/public/js/map.js'
        '@CorahnRinMapsBundle/Resources/public/js/map_edit/*.js'
        output="js/maps.js"
        filter="yui_js"
    %}<script type="text/javascript" src="{{ asset_url }}"></script>{% endjavascripts %}

    <script type="text/javascript">
        document.corahn_rin_map = new Map({
            allowZoom:false,
            zoom: 10
        });
    </script>
{% endblock %}