<div id="map_wrapper">
    <div id="map_container" data-zoom="1" data-map-id="{{ map.id }}" data-init-url="{{ route_init }}">
        <div id="map_pins_polygons">
            {% for zone in map.zones %}
                {% for coords in zone.coordinates | split(' ') %}{%
                    set coord = coords | split(',')
                    %}<span class="glyphicon icon-riflescope map-icon-target" data-target-element="map_add_zone_polygon[{{ zone.id }}]" style="position: absolute;left: {{ coord.0 }}px;top: {{ coord.1 }}px;"></span>{%
                endfor %}
            {% endfor %}
        </div>
        <svg id="map_svg_container" version="1.1" xmlns="http://www.w3.org/2000/svg">
            {% for zone in map.zones %}
                <polygon points="{{ zone.coordinates }}" id="map_add_zone_polygon[{{ zone.id }}]" />
            {% endfor %}
            {% for route in map.routes %}
                <polyline points="{{ route.coordinates }}" id="map_add_route_polyline[{{ route.id }}]" />
            {% endfor %}
        </svg>
        <div id="map_pins_polylines">
            {% for route in map.routes %}
                {% for coords in route.coordinates | split(' ') %}{%
                    set coord = coords | split(',')
                    %}<span class="glyphicon icon-riflescope map-icon-target{{ loop.first or loop.last ? ' hide' : '' }}" data-target-element="map_add_route_polyline[{{ route.id }}]" style="position: absolute;left: {{ coord.0 }}px;top: {{ coord.1 }}px;"></span>{%
                endfor %}
            {% endfor %}
        </div>
        <div id="map_markers">
            {% for marker in map.markers %}
                {% set coord = marker.coordinates | split(',') %}
                <span class="glyphicon icon-pin map-marker" style="position:absolute;left:{{ coord.0 }}px; top: {{ coord.1 }}px;" id="map_add_marker[{{ marker.id }}]" data-routes-start="{{ marker.routesStartIds | join(',') }}" data-routes-end="{{ marker.routesEndIds | join(',') }}"></span>
            {% endfor %}
        </div>
    </div>
</div>

<div id="map_inputs_container">
    {# ZONES INPUTS #}
        {% for zone in map.zones %}
            <input type="hidden" value="{{ zone.name }}" name="map_add_zone_name[{{ zone.id }}]" id="input_map_add_zone_name[{{ zone.id }}]" />
            <input type="hidden" value="{{ zone.coordinates }}" name="map_add_zone_polygon[{{ zone.id }}]" id="input_map_add_zone_polygon[{{ zone.id }}]" />
        {% endfor %}
    {# ------------ #}

    {# ROUTES INPUTS #}
        {% for route in map.routes %}
            <input type="hidden" value="{{ route.name }}" name="map_add_route_name[{{ route.id }}]" id="input_map_add_route_name[{{ route.id }}]" />
            <input type="hidden" value="{{ route.coordinates }}" name="map_add_route_polyline[{{ route.id }}]" id="input_map_add_route_polyline[{{ route.id }}]" />
            <input type="hidden" value="{{ route.routeType.id }}" name="map_add_route_type[{{ route.id }}]" id="input_map_add_route_type[{{ route.id }}]" />
            <input type="hidden" value="{{ route.markerStart.id }}" name="map_add_route_start[{{ route.id }}]" id="input_map_add_route_start[{{ route.id }}]" />
            <input type="hidden" value="{{ route.markerEnd.id }}" name="map_add_route_end[{{ route.id }}]" id="input_map_add_route_end[{{ route.id }}]" />
        {% endfor %}
    {# ------------- #}

    {# MARKERS INPUTS #}
        {% for marker in map.markers %}
            <input type="hidden" value="{{ marker.name }}" name="map_add_marker_name[{{ marker.id }}]" id="input_map_add_marker_name[{{ marker.id }}]" />
            <input type="hidden" value="{{ marker.coordinates }}" name="map_add_marker_coords[{{ marker.id }}]" id="input_map_add_marker_coords[{{ marker.id }}]" />
            <input type="hidden" value="{{ marker.markerType.id }}" name="map_add_marker_type[{{ marker.id }}]" id="input_map_add_marker_type[{{ marker.id }}]" />
        {% endfor %}
    {# -------------- #}
</div>