{% extends "::layout.html.twig" %}

{% block title %}{{ 'Liste des cartes' | tr }} - {{ parent() }}{% endblock %}

{% block content_for_layout %}
    <h1>{{ 'Liste des cartes' | tr }}</h1>

    <section class="row">
    {% for map in list %}
        <article class="col-sm-4">
            <header><h2>{{ map.name | tr }}</h2></header>
            <p>{{ map.description }}</p>
            <footer>
                <a href="{{ path('corahnrin_maps_maps_view', {'id':map.id, 'nameSlug':map.nameSlug}) }}" title="{{ 'Voir la carte' | tr }} : {{ map.name | tr }}" class="btn btn-default"><span class="glyphicon icon-eye_open"></span> {{ 'Voir la carte' | tr }}</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('corahnrin_maps_maps_edit', {'id':map.id}) }}" title="{{ 'Éditer la carte' | tr }} : {{ map.name | tr }}" class="btn btn-inverse"><span class="glyphicon icon-edit"></span> {{ 'Éditer la carte' | tr }}</a>
                {% endif %}
            </footer>
        </article>
        {% else %}
        <p class="alert alert-warning">{{ 'Aucun élément' | tr }}</p>
    {% endfor %}
    </section>
{% endblock %}
