{% extends "::layout.html.twig" %}

{% block title %}{{ 'Carte' | tr }} {{ map.name | tr }} - {{ parent() }}{% endblock %}

{% block content_for_layout %}

<div id="map_wrapper">
    <div id="map_container" data-zoom="1" data-map-id="{{ map.id }}" data-init-url="{{ route_init }}"></div>
</div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}{% javascripts
        '@CorahnRinMapsBundle/Resources/public/js/jquery.mousewheel.min.js'
        '@CorahnRinMapsBundle/Resources/public/js/jquery.transform2d.js'
        '@CorahnRinMapsBundle/Resources/public/js/map.js'
        '@CorahnRinMapsBundle/Resources/public/js/map_edit/*.js'
        output="js/maps.js"
        filter="yui_js"
    %}<script type="text/javascript" src="{{ asset_url }}"></script>{% endjavascripts %}
    <script type="text/javascript">
        document.corahn_rin_map = new Map();
    </script>
{% endblock %}