
	<footer id="footer">
		<div class="container">
			<p class="text-muted text-center">{{ 'Version' | trans }} : {{ constant('P_VERSION_CODE') }} – {{ 'Dernière mise à jour' | trans }} : {{ constant('P_VERSION_DATE') }}</p>
			<p class="text-muted text-center">{{ 'Tous droits réservés' | trans }} – Pierstoval 2012 - 2013</p>
			<p class="text-muted text-center">{{ "Tous les contenus sont générés par l'auteur du site, mais proviennent des livres des Ombres d'Esteren, et appartiennent au collectif Forgesonges, et édité par Agate Editions." | trans }}</p>
		</div>
	</footer>