{{ translateRoute('corahnrin_pages_pages_footer') }}
	<footer id="footer">
		<div class="container">
			<p class="text-muted text-center">{{ 'Version' | tr }} : {{ constant('P_VERSION_CODE') }} – {{ 'Dernière mise à jour' | tr }} : {{ constant('P_VERSION_DATE') }}</p>
			<p class="text-muted text-center">{{ 'Tous droits réservés' | tr }} – Pierstoval 2012 - 2013</p>
			<p class="text-muted text-center">{{ "Tous les contenus sont générés par l'auteur du site, mais proviennent des livres des Ombres d'Esteren, et appartiennent au collectif Forgesonges, et édité par Agate Editions." | tr }}</p>
		</div>
	</footer>
{{ translateRoute() }}